.tv {
    width: 100%;

    &.visible {
        @include flex-setting(column, flex-start, center);
        opacity: 1;
        height: 100%;

        pointer-events: all;
        transition: height 0.25s linear 0.25s, opacity 0.25s linear 0.5s;
    }

    &.invisible {
        @include flex-setting(column, flex-start, center);
        pointer-events: none;
        transition: height 0.25s linear 0.25s, opacity 0.25s linear;
        opacity: 0;
        height: 0;
    }

    &__wrapper {
        width: 100%;
        @include flex-setting(column, flex-start, center);
    }

    &__info {
        width: 100%;
        @include flex-setting(column, flex-start, center);

        &-link {
            display: inline-flex;
            text-decoration: none;

            width: 132px;
            height: 36px;

            margin-bottom: 1rem;
        }

        &-logo {
            width: inherit;
            height: inherit;
            object-fit: contain;
        }

        &-description {
            @include font-setting($primary-font, 0.75rem, normal, 500, $text-white);
            text-align: center;
            max-width: 95%;

            text-shadow: 0px 0px 8px rgba(255,255,255,0.65);

            margin-bottom: 1rem;
        }

        &-more {
            display: none;
        }
    }

    &__visual {
        width: 100%;
        max-width: 232px;
        height: 146px;
        padding-top: 1.125rem;
        margin-bottom: 2.25rem;

        position: relative;

        @include flex-setting(column, flex-start, center);
    }

    &__screen {
        position: relative;
        width: 81px;
        height: 115px;

        &-image {
            width: inherit;
            height: 99px;
            position: absolute;
            top: 0;
            z-index: 1;

            filter: drop-shadow(0 0 0 #fff) drop-shadow(0 0 0 #fff) drop-shadow(0 0 4px rgba(255, 255, 255, 0.4)) drop-shadow(0 0 6px rgba(255, 255, 255, 0.5));
        }

        &-bottom {
            z-index: 0;
            position: absolute;
            width: 75px;
            height: 43px;
            bottom: 0.125rem;
        }
    }

    &__shadows {
        &-frame {
            position: absolute;

            &.shade-1,
            &.shade-3,
            &.shade-7 {
                width: 20px;
                height: 25px;
            }

            &.shade-1 {
                left: 0;
                top: 2.188rem;
            }

            &.shade-3 {
                top: 0.625rem;
                left: 6.25rem;
            }

            &.shade-7 {
                bottom: 3.25rem;
                right: 0;
            }

            &.shade-2,
            &.shade-4 {
                width: 31px;
                height: 46px;
            }

            &.shade-2 {
                top: 0.5rem;
                left: 3rem;
            }

            &.shade-4 {
                top: 0;
                right: 3.625rem;

                z-index: 0;
            }

            &.shade-5 {
                width: 26px;
                height: 32px;
                top: 4rem;
                left: 1.875rem;
            }

            &.shade-6 {
                width: 33px;
                height: 41px;
                top: 2.875rem;
                right: 3.125rem;
                z-index: 2;
            }

            &.shade-8 {
                width: 38px;
                height: 46px;
                left: 3rem;
                bottom: 0;
                z-index: 3;
            }

            &.shade-9 {
                width: 17px;
                height: 20px;
                left: 5.625rem;
                bottom: 0;
                z-index: 3;
            }

            &.shade-10 {
                width: 46px;
                height: 53px;
                bottom: 0.5rem;
                right: 3.088rem;
            }
        }

        &-image {
            width: inherit;
            height: inherit;
            object-fit: contain;
        }

        &-item {
            &.yellow {
                fill: rgba(255, 242, 0, 0.2);
            }

            &.red {
                fill: rgba(229, 13, 42, 0.2);
            }

            &.blue {
                fill: rgba(27, 146, 222, 0.2);
            }
        }
    }

    &__link {
        @include flex-setting(column, center, center);
        @include font-setting($secondary-font, 0.75rem, 1, 700, $text-black);

        text-transform: uppercase;
        text-decoration: none;

        background-color: #e50d2a;
        border-radius: 25px;

        width: 138px;
        height: 36px;

        box-shadow: 0px -5px 5px 5px rgba(205, 7, 24, 0.7) inset;

        position: relative;

        transition: 0.2s linear;

        &:hover,
        &:active,
        &:focus {
            box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2) inset, 0px -2px 5px 2px rgba(205, 7, 24, 0.7) inset;
            transition: 0.2s linear;
        }

        &::after {
            position: absolute;
            content: '';

            width: 148px;
            height: 46px;

            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            background-color: transparent;
            border: 1px solid #e50d2a;
            border-radius: 26px;

            box-shadow: 0 0 5px 1px rgba(205, 7, 24, 0.57), 0 0 5px 1px rgba(205, 7, 24, 0.57) inset;
        }
    }
}

@media only screen and (max-height: 590px) {
    .tv {
        &__info {
            &-link {
                width: 132px;
                height: 24px;

                margin-bottom: 0.5rem;
            }
        }

        &__visual {
            margin-bottom: 1.25rem;
        }
    }

}

@media only screen and (min-width: 768px) {
    .tv {
        &__wrapper {
            max-width: 750px;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
        }

        &__info {
            order: 2;
            max-width: 300px;

            &-link {
                width: 170px;
                height: 44px;

                margin-bottom: 2rem;
            }

            &-description {
                font-size: 0.813rem;
                margin-bottom: 2rem;
            }

            &-more {
                @include flex-setting(column, center, center);
                @include font-setting($secondary-font, 0.75rem, 1, 700, $text-black);

                text-transform: uppercase;
                text-decoration: none;

                background-color: #e50d2a;
                border-radius: 25px;

                width: 138px;
                height: 36px;

                box-shadow: 0px -5px 5px 5px rgba(205, 7, 24, 0.7) inset;

                position: relative;

                transition: 0.2s linear;

                &:hover,
                &:active,
                &:focus {
                    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2) inset, 0px -2px 5px 2px rgba(205, 7, 24, 0.7) inset;
                    transition: 0.2s linear;
                }

                &::after {
                    position: absolute;
                    content: '';

                    width: 148px;
                    height: 46px;

                    top: 50%;
                    left: 50%;

                    transform: translate(-50%, -50%);

                    background-color: transparent;
                    border: 1px solid #e50d2a;
                    border-radius: 26px;

                    box-shadow: 0 0 5px 1px rgba(205, 7, 24, 0.57), 0 0 5px 1px rgba(205, 7, 24, 0.57) inset;
                }
            }
        }

        &__visual {
            order: 1;
            max-width: 410px;
            height: 390px;
            padding-top: 0;
            margin-bottom: 0;

            @include flex-setting(column, center, center);
        }

        &__screen {
            width: 204px;
            height: 290px;

            &-image {
                height: 244px;
            }

            &-bottom {
                width: 185px;
                height: 106px;
                bottom: 0.875rem;
            }
        }

        &__shadows {
            &-frame {
                position: absolute;

                &.shade-1 {
                    width: 53px;
                    height: 64px;
                    left: 11rem;
                    top: 2.125rem;
                }

                &.shade-2 {
                    width: 77px;
                    height: 92px;

                    top: 1.875rem;
                    left: 3.125rem;
                }

                &.shade-3 {
                    width: 94px;
                    height: 100px;
                    left: auto;

                    top: 7.5rem;
                    right: 0;
                }

                &.shade-4 {
                    width: 86px;
                    height: 103px;
                    right: 3.125rem;
                }

                &.shade-5 {
                    width: 66px;
                    height: 78px;

                    bottom: 7rem;
                    top: auto;
                    left: 0;
                }

                &.shade-6 {
                    width: 43px;
                    height: 51px;

                    right: auto;
                    top: auto;
                    bottom: 0;
                    left: 9.75rem;
                }

                &.shade-7 {
                    width: 94px;
                    height: 112px;
                    top: auto;
                    bottom: 1rem;
                    right: auto;
                    left: 3.75rem;

                    z-index: 2;
                }

                &.shade-8 {
                    display: none;
                }

                &.shade-9 {
                    display: none;
                }

                &.shade-10 {
                    width: 111px;
                    height: 134px;
                    bottom: 2.5rem;
                    right: 2.5rem;
                }
            }

            &-image {
                width: inherit;
                height: inherit;
                object-fit: contain;
            }

            &-item {
                &.yellow {
                    fill: rgba(255, 242, 0, 0.2);
                }

                &.red {
                    fill: rgba(229, 13, 42, 0.2);
                }

                &.blue {
                    fill: rgba(27, 146, 222, 0.2);
                }
            }
        }

        &__link {
            display: none;
        }
    }
}

@media only screen and (min-width: 1366px) {
    .tv {
        &__wrapper {
            max-width: 830px;
            justify-content: space-between;
            align-items: center;
        }

        &__info {
            max-width: 396px;
        }
    }
}

@media only screen and (min-width: 1680px) {
    .tv {
        &__wrapper {
            max-width: 1220px;
        }

        &__info {
            max-width: 610px;
            padding-left: 3.75rem;
            padding-right: 3.125rem;

            &-link {
                width: 216px;
                height: 57px;

                margin-bottom: 3rem;
            }

            &-description {
                font-size: 1rem;
                margin-bottom: 3rem;
            }

            &-more {
                font-size: 0.875rem;
                width: 190px;
                height: 44px;

                &::after {
                    width: 204px;
                    height: 58px;
                }
            }
        }

        &__visual {
            max-width: 610px;
            height: 560px;
        }

        &__screen {
            width: 290px;
            height: 405px;

            &-image {
                height: 348px;
            }

            &-bottom {
                width: 264px;
                height: 151px;
                bottom: 0.875rem;
            }
        }

        &__shadows {
            &-frame {
                &.shade-1 {
                    width: 77px;
                    height: 91px;
                    left: 15.625rem;
                    top: 3rem;
                }

                &.shade-2 {
                    width: 109px;
                    height: 130px;

                    top: 2.375rem;
                    left: 5.25rem;
                }

                &.shade-3 {
                    width: 120px;
                    height: 143px;

                    top: 10.75rem;
                    right: 0.75rem;
                }

                &.shade-4 {
                    width: 124px;
                    height: 148px;
                    right: 5.75rem;
                }

                &.shade-5 {
                    width: 94px;
                    height: 112px;

                    bottom: 10rem;
                    left: 0;
                }

                &.shade-6 {
                    width: 61px;
                    height: 73px;

                    bottom: 0;
                    left: 14.0625rem;
                }

                &.shade-7 {
                    width: 134px;
                    height: 160px;
                    bottom: 0.5rem;
                    left: 4.25rem;
                }

                &.shade-10 {
                    width: 159px;
                    height: 191px;
                    bottom: 3.125rem;
                    right: 5.625rem;
                }
            }
        }
    }
}
