header.header.invisible
    .header__wrapper
        .header__logo
            a(href="#" target="_blank").header__link.nickelodeon
                img(src="static/images/common/nick-logo.svg" alt="nickelodeon").header__link-image
            h1.header__title
                img(src="static/images/common/logo-main.svg" alt="Нам нужен твой голос").header__title-image
        .header__controls
            .header__progress
                img(src="static/images/common/hero-1-avatar.png" alt="имя выбранного героя").header__progress-image
                img(src="static/images/common/orange-box.svg" alt="Готовая запись").header__progress-record
            a(href="#" target="_self").header__return Назад к карте
