header.header.step-5
    .header__wrapper
        .header__logo
            a(href="#" target="_blank").header__link.nickelodeon
                img(src="static/images/common/nick-logo.svg" alt="nickelodeon").header__link-image
            h1.header__title
                img(src="static/images/common/logo-main.svg" alt="Нам нужен твой голос").header__title-image
        .header__info
            p.header__info-description.step-1 Вперед, путь предстоит не близкий, но интересный. Первый&nbsp;этап&nbsp;-&nbsp;выбери&nbsp;шоу
            p.header__info-description.step-2 Выбери шоу, которое хотел бы озвучить
            p.header__info-description.step-3 Посмотри видео несколько раз и проговори вслух реплики своего героя. Когда будешь готов - жми запись и&nbsp;говори&nbsp;в&nbsp;микрофон
            p.header__info-description.step-4 Супер! Ракета с твоей записью готова. Осталось&nbsp;только заполнить заявку и отправить нам
        .header__controls
            .header__progress
                img(src="static/images/common/hero-1-avatar.png" alt="имя выбранного героя").header__progress-image
                img(src="static/images/common/orange-box.svg" alt="Готовая запись").header__progress-record
            a(href="/step-2" target="_self").header__return Назад к карте
