header.header
    .header__wrapper
        a(href="/page2" target="_sefl").header__return Назад к карте
        .header__logo
            a(href="#" target="_blank").header__link.nickelodeon
                img(src="static/images/common/nick-logo.svg" alt="nickelodeon").header__link-image
            h1.header__title
                img(src="static/images/common/logo-main.svg" alt="Нам нужен твой голос").header__title-image
            .header__info
                p.header__info.step-1 Вперед, путь предстоит не близкий, но интересный. Первый&nbsp;этап&nbsp;-&nbsp;выбери&nbsp;шоу
                p.header__info.step-2 Выбери шоу, которое хотел бы озвучить
                p.header__info.step-3 Посмотри видео несколько раз и проговори вслух реплики своего героя. Когда будешь готов - жми запись и говори в микрофон
                p.header__info.step-4 Супер! Ракета с твоей записью готова. Осталось только заполнить заявку и отправить нам
        .header__progress
            img(src="static/images/content/hero-1.png" alt="имя выбранного героя").header__progress-image
            img(src="static/images/common/orange-box.svg" alt="Готовая запись").header__progress-record
