.ball {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100vh;

    padding: 10rem 1.5rem 10rem 1.5rem;

    z-index: -1;

    &__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__item {
      position: absolute;
      display: inline-flex;

      width: 6px;
      height: 6px;

      filter: drop-shadow(0 0 0 #fff) drop-shadow(0 0 2px #fff) drop-shadow(0 0 4px #fff);

      animation: scale 3s infinite linear backwards;
      will-change: transform;

      &.b-1 {
        top: 0;
        left: 0.625rem;
        animation-delay: 0.4s;
      }

      &.b-2 {
        top: 1.25rem;
        left: 4.25rem;
        animation-delay: 0.6s;
      }

      &.b-3 {
        top: 0.125rem;
        right: 0rem;
        animation-delay: 0.4s;
      }

      &.b-4 {
        top: 1.288rem;
        right: 3.5rem;
        animation-delay: 0.8s;
      }

      &.b-5 {
        top: 4.875rem;
        left: 1rem;
        animation-delay: 0.6s;
      }

      &.b-6 {
        top: 4.75rem;
        right: 0.188rem;
        animation-delay: 0.4s;
      }

      &.b-7 {
        top: 12.23rem;
        left: 1.5rem;
        animation-delay: 0.6s;
      }

      &.b-8 {
        top: 12rem;
        right: 0rem;
        animation-delay: 0.4s;
      }

      &.b-9 {
        top: 13.5rem;
        right: 1.5rem;
        animation-delay: 0.8s;
      }

      &.b-10 {
        top: 16.875rem;
        left: 0rem;
        animation-delay: 0.4s;
      }

      &.b-11 {
        top: 16.48rem;
        left: 4.125rem;
        animation-delay: 0.6s;
      }

      &.b-12 {
        top: 16.475rem;
        right: 4.325rem;
        animation-delay: 0.8s;
      }

      &.b-13 {
        top: 19rem;
        left: 2.55rem;
        animation-delay: 0.4s;
      }

      &.b-14 {
        top: 19.2rem;
        right: 3.125rem;
        animation-delay: 0.6s;
      }

      &.b-15 {
        top: 18.25rem;
        right: 0rem;
        animation-delay: 0.8s;
      }

      &.b-16 {
        top: 22.375rem;
        left: 1.635rem;
        animation-delay: 0.4s;
      }

      &.b-17 {
        top: 22.5rem;
        right: 2.125rem;
        animation-delay: 0.6s;
      }
    }
}
