.pines {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

    width: 100%;
    height: 100vh;

    padding: 9rem 1.5rem 5rem 1.5rem;
    z-index: -1;

    &__wrapper {
        margin: 0 auto;
        position: relative;
        width: 100%;
        height: 100%;

        max-height: 416px;
    }

    &__item {
        position: absolute;
        transform: scale(1);
        will-change: transform;
        filter: drop-shadow(0 0 0 #fff)  drop-shadow(0 0 0 #fff) drop-shadow(0 0 2px #fff) drop-shadow(0 0 6px #fff);

        &.p-1,
        &.p-12 {
            width: 21px;
            height: 29px;
        }

        &.p-2 {
            width: 24px;
            height: 35px;
        }

        &.p-3,
        &.p-11 {
            width: 22px;
            height: 31px;
        }

        &.p-4,
        &.p-5 {
            width: 19px;
            height: 28px;
        }

        &.p-6,
        &.p-7 {
            width: 28px;
            height: 40px;
        }

        &.p-8,
        &.p-9 {
            width: 18px;
            height: 25px;
        }

        &.p-10 {
            width: 23px;
            height: 33px;
        }

        &.p-13,
        &.p-14,
        &.p-15,
        &.p-16 {
            display: none;
        }

        &.p-1 {
            top: 0.125rem;
            left: 0.5rem;

            animation: glow-white-pine 2s linear 0.2s infinite backwards;
        }

        &.p-2 {
            top: 1.25rem;
            left: 53%;
            transform: translateX(-50%);

            animation: glow-white-pine 3s linear 0.4s infinite backwards;
        }

        &.p-3 {
            top: 1.125rem;
            right: 0.5rem;

            animation: glow-white-pine 1.5s linear 0.2s infinite backwards;
        }

        &.p-4 {
            top: 8.375rem;
            left: 0.875rem;

            animation: glow-white-pine 3s linear 0.4s infinite backwards;
        }

        &.p-5 {
            top: 6.5rem;
            left: 55%;
            transform: translateX(-50%);

            animation: glow-white-pine 1.7s linear 0.2s infinite backwards;
        }

        &.p-6 {
            top: 5.625rem;
            right: 1rem;

            animation: glow-white-pine 2s linear 0.4s infinite backwards;
        }

        &.p-7 {
            bottom: 9.75rem;
            left: 1.25rem;

            animation: glow-white-pine 2.4s linear 0.2s infinite backwards;
        }

        &.p-8 {
            bottom: 8.75rem;
            left: 44%;
            transform: translateX(-50%);

            animation: glow-white-pine 2s linear infinite backwards;
        }

        &.p-9 {
            bottom: 5.125rem;
            right: 0.5rem;

            animation: glow-white-pine 3.4s linear 0.2s infinite backwards;
        }

        &.p-10 {
            bottom: 0.375rem;
            left: 0.25rem;

            animation: glow-white-pine 1.9s linear 0.4s infinite backwards;
        }

        &.p-11 {
            bottom: 1rem;
            left: 52%;
            transform: translateX(-50%);

            animation: glow-white-pine 2.2s linear infinite backwards;
        }

        &.p-12 {
            bottom: 0;
            right: 0;

            animation: glow-white-pine 2s linear 0.2s infinite backwards;
        }
    }

    &__body {
        stroke-miterlimit: 10;
        fill: none;
        stroke: #fff;
    }

    &__toe {
        fill: #fff;
    }
}

@media only screen and (max-height: 590px) {
    .pines {
        padding: 8rem 1.5rem 5rem 1.5rem;

        &__item {
            &.p-2 {
                top: 0.25rem;
                left: 50%;
                transform: translateX(-50%);
            }

            &.p-7 {
                top: 9.75rem;
                left: 3.25rem;
            }
        }
    }
}


@media only screen and (min-width: 768px) {
    .pines {
        padding: 13rem 1.5rem 13rem 1.5rem;

        &__wrapper {
            max-height: 416px;
            max-width: 768px;
        }

        &__item {
            &.p-1,
            &.p-12 {
                width: 21px;
                height: 29px;
            }

            &.p-2 {
                width: 24px;
                height: 35px;
            }

            &.p-3,
            &.p-11{
                width: 22px;
                height: 31px;
            }

            &.p-4,
            &.p-5 {
                width: 19px;
                height: 28px;
            }

            &.p-6,
            &.p-7,
            &.p-14,
            &.p-16  {
                width: 28px;
                height: 40px;
            }

            &.p-8,
            &.p-9,
            &.p-13,
            &.p-15 {
                width: 18px;
                height: 25px;
            }

            &.p-10 {
                width: 23px;
                height: 33px;
            }

            &.p-13,
            &.p-14,
            &.p-15,
            &.p-16 {
                display: block;
            }

            &.p-1 {
                top: 0.125rem;
                left: 0.5rem;
            }

            &.p-2 {
                top: -2.75rem;
                left: 25%;
            }

            &.p-3 {
                top: -1.875rem;
                right: 15.5rem;
            }

            &.p-4 {
                top: 1.375rem;
                left: 21.875rem;
            }

            &.p-5 {
                top: 3.5rem;
                left: auto;
                right: 1rem;
                transform: none;
            }

            &.p-6 {
                top: 11.625rem;
                right: 0rem;
            }

            &.p-7 {
                bottom: auto;
                top: 4rem;
                left: 10.25rem;
            }

            &.p-8 {
                bottom:auto;
                top: 6rem;
                right: 10rem;

                left: auto;
                transform: none;
            }

            &.p-9 {
                bottom: auto;
                top: 16rem;
                right: 12.5rem;
            }

            &.p-10 {
                top: 9rem;
                bottom: auto;
                left: -1rem;
            }

            &.p-11 {
                bottom: 11rem;
                left: auto;
                right: 17rem;
                transform: none;
            }

            &.p-12 {
                bottom: 5rem;
                right: 3rem;
            }

            &.p-13 {
                top: 15rem;
                left: 10rem;
            }

            &.p-14 {
                bottom: 1rem;
                left: 14.5rem;
            }

            &.p-15 {
                bottom: 2rem;
                right: 17rem;
            }

            &.p-16 {
                bottom: 5rem;
                left: 5rem;

            }
        }
    }
}

@media only screen and (min-width: 1366px) {
    .pines {
        padding: 10.5rem 0rem 0rem 0rem;

        &__wrapper {
            max-height: 420px;
            max-width: 920px;
        }

        &__item {
            &.p-1 {
                top: 4rem;
                left: 3rem;
            }

            &.p-2 {
                width: 17px;
                height: 25px;
                top: 0rem;
                left: 15.625rem;
            }

            &.p-3 {
                top: 0rem;
                right: 12.5rem;
            }

            &.p-4 {
                top: 3.625rem;
                left: 28.25rem;
            }

            &.p-5 {
                top: 7.5rem;
                right: 0.5rem;
            }

            &.p-6 {
                top: 14.875rem;
                right: 0rem;
            }

            &.p-7 {
                width: 40px;
                height: 56px;
                top: 6rem;
                left: 14rem;
            }

            &.p-8 {
                top: 10rem;
                right: 10rem;
            }

            &.p-9 {
                top: 17.25rem;
                right: 16.5rem;
            }

            &.p-10 {
                top: 12rem;
                left: 2rem;
            }

            &.p-11 {
                bottom: 8.75rem;
                right: 23.625rem;
            }

            &.p-12 {
                bottom: 4rem;
                right: 3rem;
            }

            &.p-13 {
                top: auto;
                bottom: 8rem;
                left: 14.25rem;
                width: 29px;
                height: 42px;
            }

            &.p-14 {
                bottom: 3rem;
                left: 21.625rem;
            }

            &.p-15 {
                width: 32px;
                height: 45px;
                bottom: 3.25rem;
                right: 21rem;
            }

            &.p-16 {
                bottom: 5rem;
                left: 5rem;

            }
        }
    }
}

@media only screen and (min-width: 1680px) {
    .pines {
        padding: 16.25rem 0rem 0rem 0rem;

        &__wrapper {
            max-height: 518px;
            max-width: 1130px;
        }

        &__item {
            &.p-1 {
                width: 37px;
                height: 52px;
                top: 4.5rem;
                left: 2.5rem;
            }

            &.p-2 {
                width: 22px;
                height: 31px;
                left: 19.125rem;
            }

            &.p-3 {
                width: 24px;
                height: 33px;
                top: 0rem;
                right: 15.5rem;
            }

            &.p-4 {
                width: 31px;
                height: 44px;
                top: 4.25rem;
                left: 34.75rem;
            }

            &.p-5 {
                width: 25px;
                height: 36px;
                top: 9.125rem;
                right: 0.5rem;
            }

            &.p-6 {
                width: 35px;
                height: 49px;
                top: 17.25rem;
                right: 0rem;
            }

            &.p-7 {
                width: 49px;
                height: 69px;
                top: 7.125rem;
                left: 16.125rem;
            }

            &.p-8 {
                width: 30px;
                height: 42px;
                top: 12rem;
                right: 13.125rem;
            }

            &.p-9 {
                width: 28px;
                height: 39px;
                top: auto;
                bottom: 7.25rem;
                right: 21.625rem;
            }

            &.p-10 {
                width: 43px;
                height: 60px;
                top: 14.625rem;
                left: 0.5rem;
            }

            &.p-11 {
                width: 28px;
                height: 40px;
                bottom: 10.25rem;
                right: 28.5rem;
            }

            &.p-12 {
                width: 38px;
                height: 53px;
                bottom: 4.25rem;
                right: 3rem;
            }

            &.p-13 {
                bottom: 8.375rem;
                left: 17.75rem;
                width: 37px;
                height: 52px;
            }

            &.p-14 {
                width: 48px;
                height: 68px;
                bottom: 1.25rem;
                left: 26.125rem;
            }

            &.p-15 {
                width: 39px;
                height: 55px;
                bottom: 1.25rem;
                right: 27.625rem;
            }

            &.p-16 {
                width: 47px;
                height: 67px;
                bottom: 3.375rem;
                left: 7.375rem;
            }
        }
    }
}
