.stars {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100vh;

    padding: 1rem 1rem;
    z-index: -1;

    &__item {
        position: absolute;
        will-change: contents;

        // Mini
        &.s-2,
        &.s-4,
        &.s-8,
        &.s-11,
        &.s-14,
        &.s-16,
        &.s-19 {
            width: 12px;
            height: 12px;
        }

        // Maxi
        &.s-1,
        &.s-5 {
            width: 17px;
            height: 17px;
        }
        // Midi
        &.s-3,
        &.s-6,
        &.s-7,
        &.s-9,
        &.s-10,
        &.s-12,
        &.s-13,
        &.s-15,
        &.s-17,
        &.s-18 {
            width: 14px;
            height: 14px;
        }

        // Purple color
        &.s-2,
        &.s-5,
        &.s-6,
        &.s-9,
        &.s-14,
        &.s-15,
        &.s-17 {
            fill: #e154bb;
        }

        // White color
        &.s-1,
        &.s-4,
        &.s-8,
        &.s-10,
        &.s-12,
        &.s-16,
        &.s-18,
        &.s-19 {
            fill: #fff;
        }

        &.s-3,
        &.s-7,
        &.s-11,
        &.s-13 {
            fill: #f1ca12;
            animation: glow-yellow 1s infinite linear;
        }

        &.s-1 {
            top: 2.5rem;
            left: 1.5rem;
            animation: glow-white 1.5s infinite forwards linear;
        }

        &.s-2 {
            top: 1.125rem;
            left: 7rem;
            animation: glow-purple 2s infinite linear;
        }

        &.s-3 {
            top: 0.75rem;
            right: 7.25rem;
            animation: glow-yellow 1.5s infinite linear;
        }

        &.s-4 {
            top: 2.5rem;
            right: 2.5rem;
            animation: glow-white 1s infinite linear;
        }

        &.s-5 {
            top: 6rem;
            right: 1rem;
            animation: glow-purple 2.5s infinite linear;
        }

        &.s-6 {
            top: 10.5rem;
            left: 1.25rem;
            animation: glow-purple 1s infinite linear;
        }

        &.s-7 {
            top: 13.625rem;
            right: 1rem;
            animation: glow-yellow 1s infinite linear;
        }

        &.s-8 {
            top: 19rem;
            left: 2.5rem;
            animation: glow-white 2s infinite linear;
        }

        &.s-9 {
            top: 18.75rem;
            right: 3rem;
            animation: glow-purple 1s infinite linear;
        }

        &.s-10 {
            top: 22rem;
            right: 1.25rem;
            animation: glow-white 3s infinite linear;
        }

        &.s-11 {
            top: 23.875rem;
            left: 2.5rem;
            animation: glow-yellow 3s infinite linear;
        }

        &.s-12 {
            top: 30.25rem;
            left: 1rem;
            animation: glow-white 2s infinite linear;
        }

        &.s-13 {
            top: 28rem;
            right: 1.45rem;
            animation: glow-yellow 2s infinite linear;
        }

        &.s-14 {
            bottom: 4rem;
            left: 1.5rem;
            animation: glow-purple 3s infinite linear;
        }

        &.s-15 {
            bottom: 3rem;
            right: 1rem;
            animation: glow-purple 1s infinite linear;
        }

        &.s-16,
        &.s-18,
        &.s-19 {
            animation: glow-white 3s infinite linear;
        }

        &.s-17 {
            animation: glow-purple 3s infinite linear;
        }
    }
}

@media only screen and (min-width: 768px) {
    .stars {
        &__item {
            &.s-1 {
                top: 2.5rem;
                left: 2.5rem;
            }

            &.s-2 {
                top: 4.125rem;
                left: 14rem;
            }

            &.s-3 {
                top: 2.75rem;
                right: 16.25rem;
            }

            &.s-4 {
                top: 4.5rem;
                right: 10.5rem;
            }

            &.s-5 {
                top: 4rem;
                right: 2rem;
            }

            &.s-6 {
                top: 10.5rem;
                left: 5.25rem;
            }

            &.s-7 {
                top: 43.625rem;
                left: 17rem;
                right: auto;
            }

            &.s-8 {
                top: 19rem;
                left: 2.5rem;
            }

            &.s-9 {
                top: 15.75rem;
                right: 1rem;
            }

            &.s-10 {
                top: 25rem;
                right: 1.25rem;
            }

            &.s-11 {
                top: 29.875rem;
                left: 1.5rem;
            }

            &.s-12 {
                top: 35.25rem;
                left: 3rem;
            }

            &.s-13 {
                top: 37rem;
                right: 1.45rem;

            }

            &.s-14 {
                top: 45rem;
                bottom: auto;
                left: 8.5rem;
            }

            &.s-15 {
                top: 46rem;
                bottom: auto;
                right: 5rem;
            }

            &.s-16,
            &.s-18,
            &.s-19 {
                animation: glow-white 3s infinite linear;
            }

            &.s-17 {
                animation: glow-purple 3s infinite linear;
            }
        }
    }
}

@media only screen and (min-width: 1366px) {
    .stars {
        display: none;
    }
}
