.map {
    width: 100%;
    max-width: 280px;

    &.visible {
        @include flex-setting(column, flex-start, center);
        opacity: 1;
        height: 100%;

        pointer-events: all;
        transition: opacity 1s linear;
    }

    &.invisible {
        pointer-events: none;
        transition: opacity 1s linear;
        opacity: 0;
        margin: 0 auto;
    }

    &.hidden {
        display: none;
    }

    &__description {
        display: none;
    }

    &__list {
        width: 100%;
        max-width: 280px;

        display: grid;
        grid-template-areas:
            'stage-1 link-1'
            'link-2 stage-2'
            'stage-3 link-3'
        ;
        grid-template-columns: 50% 50%;

        align-items: center;
        align-self: center;

        margin: 0 auto;
    }

    &__item {
        width: 100%;

        &.stage-1 {
            grid-area: stage-1;
            position: relative;

            .map__link {
                &:hover {
                    .frame-pyramid__middle {
                        transform: translateY(1rem);
                        transition: 0.3s linear;
                    }

                    .frame-pyramid__middle-eye {
                        transform: translateY(-1rem);
                        transition: 0.3s linear;
                    }

                    .frame-pyramid__top {
                        transform: translateY(1.75rem);
                        transition: 0.3s linear;
                    }
                }
            }

            &::after {
                position: absolute;
                content: '';

                width: 80px;
                height: 2px;

                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1574.61 12'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-2%7Bfill:none;stroke:%23fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:12px;%7D.cls-2%7Bstroke-dasharray:39.04 39.04;%7D%3C/style%3E%3C/defs%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Cline class='cls-1' x1='6' y1='6' x2='26' y2='6'/%3E%3Cline class='cls-2' x1='65.04' y1='6' x2='1529.09' y2='6'/%3E%3Cline class='cls-1' x1='1548.61' y1='6' x2='1568.61' y2='6'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                transform: rotate(45deg);

                bottom: 0.125rem;
                right: -2.5rem;
            }
        }

        &.link-1 {
            grid-area: link-1;
            margin-top: -1.875rem;

            .map__link {

                &:hover {
                    .frame-tv__image {
                        animation: tv-screen-blink 1s linear forwards;

                        transition: 0.2s linear;
                    }
                }
            }
        }

        &.stage-2 {
            grid-area: stage-2;
            margin-top: -1.375rem;

            position: relative;

            &::after {
                position: absolute;
                content: '';

                width: 80px;
                height: 2px;

                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1574.61 12'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-2%7Bfill:none;stroke:%23fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:12px;%7D.cls-2%7Bstroke-dasharray:39.04 39.04;%7D%3C/style%3E%3C/defs%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Cline class='cls-1' x1='6' y1='6' x2='26' y2='6'/%3E%3Cline class='cls-2' x1='65.04' y1='6' x2='1529.09' y2='6'/%3E%3Cline class='cls-1' x1='1548.61' y1='6' x2='1568.61' y2='6'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                transform: rotate(135deg);

                bottom: 0.125rem;
                left: -2.5rem;
            }

            .map__link {
                &:hover,
                &:active {
                    .frame-mic__top-shape,
                    .frame-mic__bottom-shape {
                        opacity: 1;
                        transition: 0.2s linear;
                    }
                }
            }
        }

        &.link-2 {
            grid-area: link-2;
            margin-top: -2.75rem;
            padding-left: 1.25rem;

            .map__link {
                &:hover {
                    .frame-gift__image {
                        transform: translateY(0.5rem);
                        transition: 0.2s linear;
                    }
                }
            }
        }

        &.stage-3 {
            grid-area: stage-3;
            margin-top: -2rem;

            .map__text {
                margin-top: 0.25rem;
            }

            .map__link {
                &:hover,
                &:active {
                    .frame-rocket__top {
                        transform: translateY(0rem);
                        transition: 0.2s linear;
                    }

                    .frame-rocket__top-shape,
                    .frame-rocket__bottom-shape {
                        opacity: 1;
                        transition: 0.2s linear;
                        transition-delay: 0.2s;
                    }

                    .frame-rocket__top-cloud,
                    .frame-rocket__bottom-cloud {
                        transition: 0.2s linear;
                        transition-delay: 0.4s;
                        transform: scale(1);
                    }
                }
            }
        }

        &.link-3 {
            grid-area: link-3;
            margin-top: -1rem;
            
            .map__link {
                &:hover,
                &:active {
                    .frame-cup__image {
                        transform: translateX(-50%) translateY(0);
                        transition: 0.2s ease-in;
                    }

                    .frame-cup__jelly {
                        &.c-jelly-1 {
                            transform: rotate(-22deg) scale(1);
                            transition: 0.2s linear;
                            transition-delay: 0.1s;
                        }

                        &.c-jelly-2 {
                            transform: rotate(16deg) scale(1);
                            transition: 0.2s linear;
                            transition-delay: 0.2s;
                        }

                        &.c-jelly-3 {
                            transform: rotate(16deg) scale(1);
                            transition: 0.2s linear;
                            transition-delay: 0.3s;
                        }
                    }
                }
            }
        }
    }

    &__link {
        width: 100%;
        @include flex-setting(column, flex-start, center);
        text-decoration: none;
    }

    &__frame {
        position: relative;

        .frame-pyramid {
            position: relative;

            &__top {
                transition: 0.3s linear;
                margin: 0 auto;
                width: 54px;
                height: 43px;

                position: relative;

                z-index: 5;

                &-image {
                    position: absolute;
                    z-index: 1;
                }

                &-eye {
                    position: absolute;

                    width: 26px;
                    height: 26px;

                    z-index: 0;

                    left: 13.5px;
                    top: 10.5px;

                    animation: eye-rotate 3s infinite backwards linear;

                }

                &-glow {
                    position: absolute;
                    z-index: 2;

                    filter: drop-shadow(0 0 0 #fff) drop-shadow(0 0 0 #fff) drop-shadow(0 0 2px #fff) drop-shadow(0 0 4px #fff);
                }
            }

            &__middle {
                transition: 0.3s linear;
                margin: 0 auto;
                margin-top: -1rem;

                width: 91px;
                height: 53px;

                z-index: 4;

                position: relative;

                &-image {
                    position: absolute;
                    z-index: 4;
                    width: inherit;
                    height: inherit;
                }

                &-eye {
                    position: absolute;

                    width: 17px;
                    height: 17px;

                    z-index: 0;

                    left: -1.5rem;
                    bottom: 0.25rem;

                    transition: 0.3s linear;
                    filter: drop-shadow(0 0 0 #fff) drop-shadow(0 0 2px #fff) drop-shadow(0 0 4px #fff);
                }

                &-glow {
                    position: absolute;
                    z-index: 5;
                    width: inherit;
                    height: inherit;

                    filter: drop-shadow(0 0 0 #fff) drop-shadow(0 0 0 #fff) drop-shadow(0 0 2px #fff) drop-shadow(0 0 4px #fff);
                }
            }

            &__bottom {
                margin: 0 auto;
                margin-top: -1.5rem;

                width: 113px;
                height: 66px;

                z-index: 3;

                position: relative;

                &-image {
                    position: absolute;
                    z-index: 1;

                    width: inherit;
                    height: inherit;
                }

                &-eye {
                    position: absolute;

                    width: 18px;
                    height: 18px;

                    z-index: 0;

                    right: 0.5rem;
                    bottom: 0.625rem;

                    z-index: 2;
                    filter: drop-shadow(0 0 0 #fff) drop-shadow(0 0 2px #fff) drop-shadow(0 0 4px #fff);
                }

                &-glow {
                    position: absolute;
                    z-index: 2;
                    width: inherit;
                    height: inherit;

                    filter: drop-shadow(0 0 0 #fff) drop-shadow(0 0 0 #fff) drop-shadow(0 0 2px #fff) drop-shadow(0 0 4px #fff);
                }
            }
        }

        &.frame-tv {
            position: relative;

            width: 72px;
            height: 96px;

            .frame-tv__body {
                position: absolute;

                width: inherit;
                height: inherit;

                z-index: 1;
            }

            .frame-tv__logo {
                z-index: 2;
                position: absolute;

                width: 60px;
                height: 60px;

                top: 12px;
                left: 6px;

                object-fit: contain;
            }

            .frame-tv__image {
                position: absolute;

                width: 72px;
                height: 86px;
                z-index: 0;
                top: 0;

                transition: 0.2s linear;

                filter: saturate(0.4) brightness(0.4);
            }

            .frame-tv__bottom {
                width: 67px;
                height: 39px;
                position: absolute;
                bottom: -0.125rem;
                z-index: -1;
            }
        }

        &.frame-gift {
            position: relative;

            width: 60px;
            height: 76px;

            .frame-gift__image {
                position: absolute;

                width: 52px;
                height: 50px;
                left: 5px;
                bottom: 0.625rem;
                z-index: 1;

                transition: 0.2s linear;
            }

            .frame-gift__bottom {
                position: absolute;
                bottom: -0.5rem;
                left: 0;
            }
        }

        .frame-mic {
            position: relative;

            &__top {
                width: 116px;
                height: 100px;

                z-index: 2;

                position: relative;
                margin: 0 auto;

                &-image {
                    position: absolute;

                    width: inherit;
                    height: inherit;
                }

                &-shape {
                    opacity: 0;
                    position: absolute;

                    width: inherit;
                    height: inherit;

                    filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 4px rgba(255, 255, 255, 0.5));
                    transition: 0.2s linear;
                }
            }

            &__bottom {
                position: relative;
                width: 66px;
                height: 66px;
                margin: 0 auto;

                z-index: 1;

                margin-top: -2rem;

                &-image {
                    position: absolute;

                    width: inherit;
                    height: inherit;
                }

                &-shape {
                    opacity: 0;
                    position: absolute;

                    width: inherit;
                    height: inherit;

                    filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 4px #fff);
                    transition: 0.2s linear;
                }
            }
        }

        .frame-rocket {
            position: relative;

            &__top {
                margin: 0 auto;
                position: relative;
                width: 57px;
                height: 85px;

                z-index: 2;

                transform: translateY(0.7rem);
                transition: 0.2s linear;

                &-image {
                    position: absolute;

                    width: inherit;
                    height: inherit;
                }

                &-shape {
                    opacity: 0;
                    position: absolute;
                    width: inherit;
                    height: inherit;

                    filter: drop-shadow(0 0 0 #fff) drop-shadow(0 0 2px #fff) drop-shadow(0 0 4px #fff);
                }

                &-cloud {
                    transform: scale(0);
                    transition: 0.2s linear;
                    width: 45px;
                    height: 36px;

                    position: absolute;
                    bottom: -0.25rem;
                    left: -2.25rem;

                    filter: drop-shadow(0 0 0 #7fb537) drop-shadow(0 0 2px #7fb537);
                }
            }

            &__bottom {
                margin: 0 auto;
                margin-top: -0.75rem;
                position: relative;

                width: 79px;
                height: 49px;

                z-index: 1;

                &-image {
                    position: absolute;

                    width: inherit;
                    height: inherit;
                }

                &-shape {
                    opacity: 0;
                    position: absolute;
                    width: inherit;
                    height: inherit;

                    filter: drop-shadow(0 0 0 #fff) drop-shadow(0 0 2px #fff) drop-shadow(0 0 4px rgba(255, 255, 255, 0.5));
                }

                &-cloud {
                    transform: scale(0);
                    transition: 0.2s linear;

                    width: 35px;
                    height: 31px;

                    position: absolute;
                    bottom: 0.75rem;
                    right: -0.75rem;

                    z-index: -1;

                    filter: drop-shadow(0 0 0 #7fb537) drop-shadow(0 0 2px #7fb537);
                }
            }
        }

        &.frame-cup {
            position: relative;
            width: 60px;
            height: 74px;

            .frame-cup__image {
                position: absolute;
                width: 38px;
                height: 52px;
                z-index: 2;
                left: 50%;
                transform: translateX(-50%) translateY(0.5rem);
                transition: 0.2s linear;
            }

            .frame-cup__bottom {
                position: absolute;
                width: 60px;
                height: 32px;

                bottom: 0;

                z-index: 1;
            }

            .frame-cup__jelly {
                width: 18px;
                height: 22px;

                position: absolute;
                filter: saturate(9) drop-shadow(0 0 0 rgba(177, 3, 127, 1)) drop-shadow(0 0 0 rgba(177, 3, 127, 1)) drop-shadow(0 0 0 rgba(177, 3, 127, 1)) drop-shadow(0 0 0 rgba(177, 3, 127, 1)) drop-shadow(0 0 0 rgba(177, 3, 127, 1)) drop-shadow(0 0 0 rgba(177, 3, 127, 1)) drop-shadow(0 0 0 rgba(177, 3, 127, 1)) drop-shadow(0 0 3px rgba(237, 225, 174, 0.4));


                &.c-jelly-1 {
                    transform: scale(0);
                    transition: 0.2s linear;
                    transform: rotate(-22deg) scale(0);

                    left: -0.5rem;
                    bottom: 2rem;
                }

                &.c-jelly-2 {
                    transform: scale(0);
                    transition: 0.2s linear;
                    transform: rotate(16deg) scale(0);

                    right: -0.625rem;
                    top: 0.5rem;
                }

                &.c-jelly-3 {
                    transform: scale(0);
                    transition: 0.2s linear;
                    transform: rotate(16deg) scale(0);

                    right: 0.25rem;
                    bottom: -0.25rem;

                    z-index: 2;
                }
            }
        }
    }

    &__text {
        @include font-setting($primary-font, 0.75rem, 1.875rem, 700, $text-white);
        text-transform: uppercase;
        text-decoration: none;

        &.small {
            font-size: 0.625rem;
        }
    }
}

@media only screen and (max-height: 590px) {
    .map {
        &__list {
            grid-template-areas:
                'stage-1 link-1'
                '... stage-2'
                'stage-3 link-2'
            ;
        }

        &__item {
            &.stage-1 {
                margin-top: -1.25rem;
            }

            &.link-1 {
                margin-top: -2.5rem;
            }

            &.stage-2 {
                margin-top: -1.875rem;

                &::after {
                    bottom: 1.625rem;
                }
            }

            &.link-2 {
                margin-top: -1.125rem;
            }

            &.stage-3 {
                margin-top: -6rem;
            }
        }
    }
}

@media only screen and (min-width: 414px) {
    .map {
        max-width: 320px;

        &__list {
            max-width: 320px;
            grid-template-areas:
                'stage-1 link-1'
                '... stage-2'
                'stage-3 link-2'
            ;
        }

        &__item {
            &.link-2 {
                margin-top: 0.625rem;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .map {
        width: 100%;
        max-width: 720px;

        position: relative;

        &__description {
            width: 100%;
            top: -5rem;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            display: inline-flex;
            @include font-setting($primary-font, 0.813rem, normal, 500, $text-white);
            text-shadow: 0px 0px 8px rgba(255,255,255,0.65);
            text-align: center;
            max-width: 275px;
        }

        &__list {
            width: 100%;
            max-width: 720px;

            grid-template-areas:
                'stage-1 link-2 link-1 stage-3'
                '... stage-2 stage-2 link-3'
            ;
            grid-template-columns: 25% 25% 25% 25%;
        }

        &__item {
            position: relative;

            &.active {
                &::before {
                    position: absolute;
                    content: '';

                    width: 40px;
                    height: 49px;

                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 107.74 132.36'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%2383db0f;%7D.cls-2%7Bfill:%23b2f941;%7D%3C/style%3E%3C/defs%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Cpath class='cls-1' d='M107.74,53.87A53.87,53.87,0,0,0,0,53.87v5c0,29.75,53.87,73.5,53.87,73.5s53.87-43.75,53.87-73.5Z'/%3E%3Ccircle class='cls-2' cx='74.48' cy='27.48' r='12.74'/%3E%3Ccircle class='cls-2' cx='90.07' cy='48.93' r='6.07'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: contain;

                    top: -4rem;
                    left: 50%;
                    transform: translateX(-50%);

                    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.8));

                    animation: baloon 2s linear infinite forwards;
                }
            }


            &.stage-1 {
                &::after {
                    width: 165px;
                    height: 2px;

                    bottom: -1.875rem;
                    right: -7.5rem;
                }
            }

            &.link-1 {
                margin-top: 0;
            }

            &.stage-2 {
                margin-top: 0;

                &::after {
                    width: 165px;
                    height: 2px;

                    top: 1.5rem;
                    bottom: auto;
                    left: auto;
                    right: -2.5rem;
                }

                &.active {
                    .map__link {
                        .frame-mic__top-shape,
                        .frame-mic__bottom-shape {
                            opacity: 1;
                            transition: 0.2s linear;

                            animation: glow-white 3s linear infinite both;
                        }
                    }
                }
            }

            &.link-2 {
                margin-top: 0rem;
                padding-left: 0rem;
            }

            &.stage-3 {
                margin-top: 0rem;

                .map__text {
                    margin-top: 0.25rem;
                }

                .map__link {
                    &:hover,
                    &:active {
                        .frame-rocket__top {
                            transform: translateY(-0.5rem);
                        }
                    }
                }

                &.active {
                    .map__link {
                        .frame-rocket__top {
                            transform: translateY(-0.5rem);
                        }
                    }
                }

            }

            &.link-3 {
                margin-top: 0rem;
                display: flex;
            }
        }

        &__frame {
            .frame-pyramid {
                &__top {
                    width: 80px;
                    height: 64px;

                    &-eye {
                        width: 39px;
                        height: 39px;

                        left: 19.5px;
                        top: 13.5px;
                    }
                }

                &__middle {
                    margin-top: -1.75rem;

                    width: 137px;
                    height: 79px;

                    &-eye {
                        width: 25px;
                        height: 25px;

                        left: -1.5rem;
                        bottom: 0.25rem;
                    }
                }

                &__bottom {
                    margin-top: -2.5rem;

                    width: 170px;
                    height: 99px;

                    &-eye {
                        width: 27px;
                        height: 27px;

                        right: 0.5rem;
                        bottom: 0.625rem;
                    }
                }
            }

            &.frame-tv {
                width: 96px;
                height: 126px;

                .frame-tv__image {
                    width: 96px;
                    height: 115px;
                }

                .frame-tv__logo {
                    width: 80px;
                    height: 80px;
                    top: 17px;
                }

                .frame-tv__bottom {
                    width: 90px;
                    height: 52px;
                    bottom: -0.125rem;
                    left: 0.125rem;
                }
            }

            &.frame-gift {
                width: 88px;
                height: 108px;

                .frame-gift__image {
                    width: 77px;
                    height: 75px;
                    left: 5px;
                    bottom: 1.125rem;
                }
            }

            .frame-mic {
                &__top {
                    width: 175px;
                    height: 150px;
                }

                &__bottom {
                    width: 98px;
                    height: 98px;
                    margin-top: -3.75rem;
                }
            }

            .frame-rocket {
                &__top {
                    width: 86px;
                    height: 128px;

                    &-cloud {
                        width: 58px;
                        height: 46px;

                        bottom: 0rem;
                        left: -2.625rem;
                    }
                }

                &__bottom {
                    margin-top: -1.475rem;

                    width: 119px;
                    height: 76px;

                    &-cloud {
                        width: 39px;
                        height: 34px;

                        bottom: 1.25rem;
                        right: -0.375rem;
                    }
                }
            }

            &.frame-cup {
                position: relative;
                width: 60px;
                height: 74px;

                .frame-cup__image {
                    position: absolute;
                    width: 38px;
                    height: 52px;
                    z-index: 2;
                    left: 50%;
                    transform: translateX(-50%) translateY(0.5rem);
                    transition: 0.2s linear;
                }

                .frame-cup__bottom {
                    position: absolute;
                    width: 60px;
                    height: 32px;

                    bottom: 0;

                    z-index: 1;
                }

                .frame-cup__jelly {
                    width: 18px;
                    height: 22px;

                    position: absolute;
                    filter: saturate(9) drop-shadow(0 0 0 rgba(177, 3, 127, 1)) drop-shadow(0 0 0 rgba(177, 3, 127, 1)) drop-shadow(0 0 0 rgba(177, 3, 127, 1)) drop-shadow(0 0 0 rgba(177, 3, 127, 1)) drop-shadow(0 0 0 rgba(177, 3, 127, 1)) drop-shadow(0 0 0 rgba(177, 3, 127, 1)) drop-shadow(0 0 0 rgba(177, 3, 127, 1)) drop-shadow(0 0 3px rgba(237, 225, 174, 0.4));


                    &.c-jelly-1 {
                        transform: scale(0);
                        transition: 0.2s linear;
                        transform: rotate(-22deg) scale(0);

                        left: -0.5rem;
                        bottom: 2rem;
                    }

                    &.c-jelly-2 {
                        transform: scale(0);
                        transition: 0.2s linear;
                        transform: rotate(16deg) scale(0);

                        right: -0.625rem;
                        top: 0.5rem;
                    }

                    &.c-jelly-3 {
                        transform: scale(0);
                        transition: 0.2s linear;
                        transform: rotate(16deg) scale(0);

                        right: 0.25rem;
                        bottom: -0.25rem;

                        z-index: 2;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1366px) {
    .map {
        max-width: 870px;

        &__description {
            top: -6rem;
            max-width: 275px;
        }

        &__list {
            max-width: 870px;
        }

        &__item {
            &.stage-1 {
                &::after {
                    transform: rotate(25deg);

                    bottom: -0.875rem;
                    right: -7.5rem;
                }
            }

            &.link-1 {
                margin-top: -1.25rem;
            }

            &.stage-2 {
                margin-top: -3.5rem;

                &::after {
                    transform: rotate(155deg);

                    top: 4.325rem;
                    right: -2.5rem;
                }
            }

            &.stage-3 {
                margin-top: 0rem;

                .map__link {
                    align-items: flex-end;
                    width: auto;
                }

                .map__text {
                    margin-top: 0.25rem;
                    margin-right: 1.25rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 1680px) {
    .map {
        max-width: 1060px;

        &__description {
            font-size: 1rem;
            top: -2.875rem;
            max-width: 350px;
        }

        &__list {
            margin-top: 6.875rem;
            max-width: 1060px;
        }

        &__item {
            &.active {
                &::before {
                    width: 57px;
                    height: 70px;
                    top: -5.5rem;
                }
            }
            &.stage-1 {
                &::after {
                    width: 202px;
                    transform: rotate(25deg);

                    bottom: -1.5rem;
                    right: -10.5rem;
                }
            }

            &.link-1 {
                margin-left: 1.5rem;
                margin-top: -3.75rem;
            }

            &.link-2 {
                margin-top: -2.25rem;
            }

            &.link-3 {
                display: flex;
                margin-top: 2.375rem;
                margin-left: 0rem;

                .map__link {
                    align-items: flex-start;
                }

                .map__text {
                    margin-left: 0.625rem;
                }
            }

            &.stage-2 {
                margin-top: -3.5rem;

                &::after {
                    width: 202px;
                    transform: rotate(155deg);

                    top: 5.5rem;
                    right: -2.5rem;
                }
            }

            &.stage-3 {
                margin-top: 0rem;

                .map__link {
                    width: auto;
                }

                .map__text {
                    margin-top: 0.25rem;
                }

                &.active {
                    .map__link {
                        .frame-rocket__top {
                            transform: translateY(0rem);
                            transition: 0.2s linear;
                        }

                        .frame-rocket__top-shape,
                        .frame-rocket__bottom-shape {
                            opacity: 1;
                            transition: 0.2s linear;
                            transition-delay: 0.2s;
                            animation: glow-white 3s linear infinite both;
                        }

                        .frame-rocket__top-cloud,
                        .frame-rocket__bottom-cloud {
                            transition: 0.2s linear;
                            transition-delay: 0.4s;
                            transform: scale(1);
                        }
                    }
                }
            }
        }

        &__text {
            font-size: 0.875rem;

            &.small {
                font-size: 0.875rem;
            }
        }

        &__frame {
            .frame-pyramid {
                &__top {
                    width: 98px;
                    height: 78px;

                    &-eye {
                        width: 47px;
                        height: 47px;

                        left: 23.5px;
                        top: 17.5px;
                    }
                }

                &__middle {
                    width: 167px;
                    height: 97px;

                    &-eye {
                        width: 32px;
                        height: 32px;
                    }
                }

                &__bottom {
                    width: 208px;
                    height: 121px;

                    &-eye {
                        width: 34px;
                        height: 34px;
                    }
                }
            }

            &.frame-tv {
                width: 120px;
                height: 154px;

                .frame-tv__image {
                    width: 120px;
                    height: 140px;
                }

                .frame-tv__logo {
                    width: 100px;
                    height: 100px;

                    top: 22px;
                    left: 10px;
                }

                .frame-tv__bottom {
                    width: 110px;
                    height: 63px;
                }
            }

            &.frame-gift {
                width: 110px;
                height: 134px;

                .frame-gift__image {
                    width: 95px;
                    height: 92px;
                    left: 5px;
                    bottom: 1.375rem;
                }
            }

            .frame-mic {
                &__top {
                    width: 211px;
                    height: 180px;
                }

                &__bottom {
                    width: 112px;
                    height: 112px;
                }
            }

            .frame-rocket {
                &__top {
                    width: 105px;
                    height: 157px;

                    &-cloud {
                        width: 71px;
                        height: 57px;

                        bottom: 0rem;
                        left: -3.125rem;
                    }
                }

                &__bottom {
                    margin-top: -2rem;

                    width: 145px;
                    height: 93px;

                    &-cloud {
                        width: 49px;
                        height: 43px;

                        bottom: 1.75rem;
                        right: -1.375rem;
                    }
                }
            }

            &.frame-cup {
                position: relative;
                width: 108px;
                height: 133px;

                .frame-cup__image {
                    width: 71px;
                    height: 95px;
                }

                .frame-cup__bottom {
                    width: 111px;
                    height: 64px;
                }

                .frame-cup__jelly {
                    width: 31px;
                    height: 44px;

                    &.c-jelly-1 {
                        left: -1.5rem;
                        bottom: 3rem;
                    }

                    &.c-jelly-2 {
                        right: -1.625rem;
                    }
                }
            }
        }
    }
}
