.player {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    &__wrapper {
        width: 100%;
        @include flex-setting(column, flex-start, center);
    }

    &__video {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        margin-bottom: 2.875rem;
    }

    &__frame {
        position: relative;

        width: calc(100% - 12px);
        height: calc(100% - 12px);

        margin-bottom: calc(1.625rem + 0.375rem);

        &::before {
            position: absolute;
            content: '';

            width: calc(100% + 12px);
            height: calc(100% + 12px);

            background-color: trasparent;
            border: 1px solid #fff;

            box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.3), 0 0 4px 2px rgba(255, 255, 255, 0.3) inset;

            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);
        }
    }

    &__content {
        display: inline-flex;

        width: 100%;
        max-width: 712px;

        --index: calc(var(--height) / var (--width));
        --height-with-units: calc(var(--height) * 1px);
        height: Min(calc(100vw * var(--index)), var(--height-with-units));

        box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.4);
    }

    &__details {
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;

        background: linear-gradient(135deg, #db1e47 38%, #b71437 38%, #b71437 80%, #db1e47 80%);

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include flex-setting(row, center, center);

        &-image {
            width: 140px;
            height: auto;
            object-fit: contain;
            margin-top: 3rem;
        }

        &-title {
            @include font-setting($primary-font, 0.933rem, normal, 800, $text-white);
            font-style: italic;
            text-align: center;
            max-width: 50%;
        }
    }

    &__return {
        @include flex-setting(column, center, center);
        @include font-setting($primary-font, 0.75rem, 1, 400, $text-white);

        text-transform: uppercase;
        text-decoration: none;

        padding: 0.875rem 1.25rem 0.875rem 2.625rem;

        border: 1px solid $text-white;
        border-radius: 25px;
        position: relative;

        transition: 0.2s linear;

        &::after {
            position: absolute;
            content: '';

            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 320'%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Layer'%3E%3Cpath d='M368,144H48.81L171,27.59A16,16,0,0,0,149,4.41L9.38,137.37a32,32,0,0,0,.28,45.53L149,315.59A16,16,0,0,0,171,292.42L48.3,176H368a16,16,0,0,0,0-32Z' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            background-position: 50% 50%;
            background-size: contain;
            background-repeat: no-repeat;

            width: 12px;
            height: 11px;

            top: 50%;
            transform: translateY(-50%);
            left: 1.25rem;
        }

        &:hover,
        &:active {
            box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.4);
            transition: 0.2s linear;
        }
    }

    &__elements {
        width: 100%;
        max-width: 360px;
        height: 140px;
        position: fixed;
        top: 27rem;
        left: 0;
        right: 0;
        bottom: 0;

        &-block.el-right {
            display: none;
        }

        &-block.el-left {
            position: relative;
            width: 100%;
            height: 100%;
        }

        &-frame {
            position: absolute;

            &.el-disk {
                width: 30px;
                height: 30px;

                top: 1rem;
                left: 2rem;

                .player__elements-image {
                    @include glowBox(glow-o-2, 238, 214, 1, 0.75, 2.8s, 0.1s);
                }
            }

            &.el-star {
                width: 34px;
                height: 33px;

                top: 5.5rem;
                left: 3rem;

                transform: rotate(-22deg);

                .player__elements-image {
                    @include glowBox(glow-p-2, 166, 50, 108, 0.8, 2.5s, 0.5s);
                }
            }

            &.el-tree {
                width: 29px;
                height: 38px;
                transform: rotate(-22deg);

                top: 5.5rem;
                right: 3.5rem;

                .player__elements-image {
                    @include glowBox(glow-w-2, 255, 255, 255, 0.75, 2.2s, 0.8s);
                }
            }

            &.el-cone {
                width: 37px;
                height: 43px;

                transform: rotate(90deg);

                top: 0.625rem;
                right: 1.125rem;

                .player__elements-image {
                    @include glowBox(glow-do-2, 207, 70, 2, 0.8, 2.3s, 0.5s);
                }
            }
        }

        &-image {
            width: inherit;
            height: inherit;
            object-fit: contain;
        }
    }

    &__ball {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .b-1 {
            top: 1.125rem;
            left: 5rem;
        }

        .b-2 {
            top: 0.875rem;
            left: 12rem;
        }

        .b-3 {
            top: 1rem;
            right: 4.875rem;
        }

        .b-4 {
            top: 3.75rem;
            right: 0.625rem;
        }

        .b-5 {
            top: 3.5rem;
            left: 1.125rem;
        }

        .b-6 {
            top: 5.75rem;
            right: 2rem;
        }

        .b-7 {
            top: 6.25rem;
            left: 1.75rem;
        }

        .b-8 {
            top: 7rem;
            left: 6.5rem;
        }

        .b-9 {
            top: 6rem;
            left: 11rem;
        }

        .b-10 {
            top: 6.5rem;
            right: 8rem;
            left: auto;
        }

        .b-11,
        .b-12,
        .b-13,
        .b-14,
        .b-15 {
            display: none;
        }
    }
}
