.ball
    .ball__wrapper
        svg.ball__item.b-1
            circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
        svg.ball__item.b-2
            circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
        svg.ball__item.b-3
            circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
        svg.ball__item.b-4
            circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
        svg.ball__item.b-5
            circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
        svg.ball__item.b-6
            circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
        svg.ball__item.b-7
            circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
        svg.ball__item.b-8
            circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
        svg.ball__item.b-9
            circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
        svg.ball__item.b-10
            circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
        svg.ball__item.b-11
            circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
        svg.ball__item.b-12
            circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
        svg.ball__item.b-13
            circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
        svg.ball__item.b-14
            circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
        svg.ball__item.b-15
            circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
        svg.ball__item.b-16
            circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
        svg.ball__item.b-17
            circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
