section.choose.invisible
    include ../functional/ball
    
    .choose__elements
        // Left
        .choose__elements-block.el-left
            .choose__elements-frame.el-ball
                img(src="static/images/common/3-ball.svg" alt="").choose__elements-image
            .choose__elements-frame.el-ball-2
                img(src="static/images/common/3-ball-2.svg" alt="").choose__elements-image
            .choose__elements-frame.el-figure
                img(src="static/images/common/3-figure.svg" alt="").choose__elements-image
            .choose__elements-frame.el-tube
                img(src="static/images/common/3-tube.svg" alt="").choose__elements-image
        // Right
        .choose__elements-block.el-right
            .choose__elements-frame.el-ball
                img(src="static/images/common/3-ball.svg" alt="").choose__elements-image
            .choose__elements-frame.el-ball-2
                img(src="static/images/common/3-ball-2.svg" alt="").choose__elements-image
            .choose__elements-frame.el-figure
                img(src="static/images/common/3-figure.svg" alt="").choose__elements-image
            .choose__elements-frame.el-tube
                img(src="static/images/common/3-tube.svg" alt="").choose__elements-image
                
    .choose__wrapper
        p.choose__description Выбери шоу, которое хотел бы озвучить
        
        .choose__slider
            .choose__list
                .choose__item.hero-1
                    img(src="static/images/content/hero-1.png" alt="Sponge bob").choose__image
                .choose__item.hero-2
                    img(src="static/images/content/hero-2.png" alt="Sponge bob").choose__image
                .choose__item.hero-3
                    img(src="static/images/content/hero-3.svg" alt="Sponge bob").choose__image
                .choose__item.hero-4
                    img(src="static/images/content/hero-4.png" alt="Sponge bob").choose__image
                .choose__item.hero-5
                    img(src="static/images/content/hero-5.png" alt="Sponge bob").choose__image
            button(type="button").choose__prev
            button(type="button").choose__next
        b.choose__name Спанч Боб
        button(type="submit").choose__submit Выбрать
