section.choose
    .choose__stars.stars
        svg.stars__ball.b1
            circle(cx="2" cy="2" r="1" stroke="#fffcfc" fill="#fffcfc" stroke-width="0")
        svg.stars__ball.b2
            circle(cx="2" cy="2" r="1" stroke="#fffcfc" fill="#fffcfc" stroke-width="0")
        svg.stars__ball.b3
            circle(cx="2" cy="2" r="1" stroke="#fffcfc" fill="#fffcfc" stroke-width="0")
        svg.stars__ball.b4
            circle(cx="2" cy="2" r="1" stroke="#fffcfc" fill="#fffcfc" stroke-width="0")
        svg.stars__ball.b5
            circle(cx="2" cy="2" r="1" stroke="#fffcfc" fill="#fffcfc" stroke-width="0")
        svg.stars__ball.b6
            circle(cx="2" cy="2" r="1" stroke="#fffcfc" fill="#fffcfc" stroke-width="0")
        svg.stars__ball.b7
            circle(cx="2" cy="2" r="1" stroke="#fffcfc" fill="#fffcfc" stroke-width="0")
        svg.stars__ball.b8
            circle(cx="2" cy="2" r="1" stroke="#fffcfc" fill="#fffcfc" stroke-width="0")
        svg.stars__ball.b9
            circle(cx="2" cy="2" r="1" stroke="#fffcfc" fill="#fffcfc" stroke-width="0")
        svg.stars__ball.b10
            circle(cx="2" cy="2" r="1" stroke="#fffcfc" fill="#fffcfc" stroke-width="0")
        svg.stars__ball.b11
            circle(cx="2" cy="2" r="1" stroke="#fffcfc" fill="#fffcfc" stroke-width="0")
        svg.stars__ball.b12
            circle(cx="2" cy="2" r="1" stroke="#fffcfc" fill="#fffcfc" stroke-width="0")
        svg.stars__ball.b13
            circle(cx="2" cy="2" r="1" stroke="#fffcfc" fill="#fffcfc" stroke-width="0")
        svg.stars__ball.b14
            circle(cx="2" cy="2" r="1" stroke="#fffcfc" fill="#fffcfc" stroke-width="0")
        svg.stars__ball.b15
            circle(cx="2" cy="2" r="1" stroke="#fffcfc" fill="#fffcfc" stroke-width="0")
        svg.stars__ball.b16
            circle(cx="2" cy="2" r="1" stroke="#fffcfc" fill="#fffcfc" stroke-width="0")
        svg.stars__ball.b17
            circle(cx="2" cy="2" r="1" stroke="#fffcfc" fill="#fffcfc" stroke-width="0")
    .choose__elements.elements
        // Left
        .elements__block.el-left
            .elements__frame.el-ball
                img(src="static/images/common/3-ball.svg" alt="").elements__image
            .elements__frame.el-ball-2
                img(src="static/images/common/3-ball-2.svg" alt="").elements__image
            .elements__frame.el-figure
                img(src="static/images/common/3-figure.svg" alt="").elements__image
            .elements__frame.el-tube
                img(src="static/images/common/3-tube.svg" alt="").elements__image
        // Right
        .elements__block.el-right
            .elements__frame.el-ball
                img(src="static/images/common/3-ball.svg" alt="").elements__image
            .elements__frame.el-ball-2
                img(src="static/images/common/3-ball-2.svg" alt="").elements__image
            .elements__frame.el-figure
                img(src="static/images/common/3-figure.svg" alt="").elements__image
            .elements__frame.el-tube
                img(src="static/images/common/3-tube.svg" alt="").elements__image
                
    .choose__wrapper
        .choose__slider
            .choose__list
                .choose__item.hero-1
                    img(src="static/images/content/hero-1.png" alt="Sponge bob").choose__image
                .choose__item.hero-2
                    img(src="static/images/content/hero-2.png" alt="Sponge bob").choose__image
                .choose__item.hero-3
                    img(src="static/images/content/hero-3.svg" alt="Sponge bob").choose__image
                .choose__item.hero-4
                    img(src="static/images/content/hero-4.png" alt="Sponge bob").choose__image
                .choose__item.hero-5
                    img(src="static/images/content/hero-5.png" alt="Sponge bob").choose__image
            button(type="button").choose__prev
            button(type="button").choose__next
        b.choose__name Спанч Боб
        button(type="submit").choose__submit Выбрать
