section.final.invisible
    .final__stars
        .stars__upper
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").stars__item.s-1
                path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").stars__item.s-2
                path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").stars__item.s-3
                path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").stars__item.s-4
                path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").stars__item.s-5
                path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
        .stars__lower
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").stars__item.s-6
                path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").stars__item.s-7
                path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").stars__item.s-8
                path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").stars__item.s-9
                path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").stars__item.s-10
                path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").stars__item.s-11
                path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").stars__item.s-12
                path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").stars__item.s-13
                path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").stars__item.s-14
                path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").stars__item.s-15
                path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").stars__item.s-16
                path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").stars__item.s-18
                path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").stars__item.s-19
                path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
    .final__wrapper
        p.final__description Супер! Ракета с твоей записью готова. Осталось&nbsp;только заполнить заявку и отправить нам
        .final__forms
            include ../functional/form
            include ../functional/success
            include ../functional/visuals
