.howto
    .howto__wrapper
        .howto__head
            h2.howto__title Как участвовать?
            button(type="button").howto__close
        ul.howto__list
            li.howto__item
                span.howto__text 1. Выбери шоу, которое хочешь озвучивать
            li.howto__item
                span.howto__text  2. Посмотри оригинальный ролик, нажав зелёную кнопку «плэй»
            li.howto__item
                span.howto__text  3. Прочитай несколько раз реплики своего героя
            li.howto__item
                span.howto__text  4. Когда будешь готов, жми красную кнопку «запись» и говори в микрофон
            li.howto__item
                span.howto__text  5. Послушай, что получилось
            li.howto__item
                span.howto__text  6. Нажми перезаписать, если хочешь переделать
            li.howto__item
                span.howto__text  7. Жми отправить, если ты доволен тем, что получилось
        a(href="#" target="_blank").howto__rules Правила участия
        a(href="https://drive.google.com/drive/folders/1FHGyqo-iw7ru9DMrt0L57thyspU7Sckx" target="_blank").howto__rules Политика
