section.intro
    .intro__wrapper
        .intro__logo
            a(href="#" target="_blank").intro__link.nickelodeon
                img(src="static/images/common/nick-logo.svg" alt="nickelodeon").intro__link-image
            h1.intro__title
                img(src="static/images/common/logo-intro.svg" alt="Нам нужен твой голос").intro__title-image
        .intro__info
            p.intro__info-description
            p.intro__info-description
            
            a(href="#" target="_self").intro__info-link Участвовать
        .intro__support
            b.intro__support-text При поддержке
            a(href="#" target="_blank").intro__support-link
                img(src="static/images/common/tri-logo.svg" alt="tricolor-tv").intro__support-logo
