- var images = [{name: '1', source: 'intro-ball-orange.svg'}, {name: '2', source: 'intro-cube.svg'}, {name: '3', source: 'intro-cube.svg'}, {name: '4', source: 'intro-eye.svg'}, {name: '5', source: 'intro-eye.svg'}, {name: '7', source: 'intro-smile-1.svg'}, {name: '8', source: 'intro-smile-2.svg'}, {name: '9', source: 'meduza.svg'}, {name: '10', source: 'intro-cloud-1.svg'}, {name: '11', source: 'intro-cloud-2.svg'}, {name: '12', source: 'gift.svg'}, {name: '13', source: 'gift.svg'}, {name: '14', source: 'intro-ball-2.svg'}, {name: '15', source: 'intro-eye.svg'}, {name: '16', source: 'intro-eye.svg'}, {name: '17', source: 'meduza.svg'}, {name: '18', source: 'intro-cube.svg'}]

section.intro
    include ../functional/stars
    
    .intro__wrapper
        .intro__logo
            a(href="#" target="_blank").intro__link.nickelodeon
                img(src="static/images/common/nick-logo.svg" alt="nickelodeon").intro__link-image
            h1.intro__title
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 768.35 286.03").intro__title-image
                    path(class="logo logo-1" d="M24.77,112.21V70.13H71v42.08a2.5,2.5,0,0,0,2.5,2.5H91.78a2.5,2.5,0,0,0,2.5-2.5V6.94a2.5,2.5,0,0,0-2.5-2.5H73.51A2.5,2.5,0,0,0,71,6.94V48.25H24.77V6.94a2.5,2.5,0,0,0-2.5-2.5H4a2.5,2.5,0,0,0-2.5,2.5V112.21a2.5,2.5,0,0,0,2.5,2.5H22.27A2.5,2.5,0,0,0,24.77,112.21Z")
                    path(class="logo logo-2" d="M146.33,67.29c-23.12,0-37.49,10.34-37.49,27,0,13.27,9.49,21.85,24.18,21.85,9.69,0,17.73-3.12,23.55-9.08l1.77,5.9a2.49,2.49,0,0,0,2.39,1.78H172a2.5,2.5,0,0,0,2.5-2.5V67.63c0-17.66-11.58-28.2-31-28.2-9.3,0-19.11,2.4-30,7.35a2.5,2.5,0,0,0-1.31,3.15l4.8,12.84a2.52,2.52,0,0,0,1.41,1.45,2.47,2.47,0,0,0,2-.07c7.29-3.48,14.36-5.32,20.45-5.32,7.68,0,11.58,2.75,11.58,8.18v.44C150.69,67.36,148.72,67.29,146.33,67.29Zm6.49,16c-1,9.36-6.53,15.07-14.85,15.07-4.91,0-7.41-2-7.41-5.86,0-8.5,11.79-9.42,16.85-9.42C149.52,83.13,151.17,83.21,152.82,83.34Z")
                    path(class="logo logo-3" d="M273.93,113.9a2.5,2.5,0,0,0,.64-1.91l-6.34-69.36a2.5,2.5,0,0,0-2.49-2.27h-7.43a2.5,2.5,0,0,0-1.88.85L233.87,66.86c-1.24,1.33-2.47,2.74-3.7,4.15-1.27-1.52-2.53-3-3.73-4.25L204.15,41.21a2.53,2.53,0,0,0-1.89-.85h-7.43a2.5,2.5,0,0,0-2.49,2.26L185.84,112a2.49,2.49,0,0,0,2.49,2.73h20.44a2.5,2.5,0,0,0,2.49-2.31l2-26.34,0-.71,1.74,2.16,11,13a2.46,2.46,0,0,0,1.91.89h4.33a2.5,2.5,0,0,0,1.92-.89L245.7,86.84l1.42-1.75,2,27.31a2.5,2.5,0,0,0,2.49,2.31h20.44A2.48,2.48,0,0,0,273.93,113.9Z")
                    path(class="logo logo-4" d="M395.51,112.21a2.5,2.5,0,0,0,2.5,2.5h18.28a2.5,2.5,0,0,0,2.5-2.5V6.94a2.5,2.5,0,0,0-2.5-2.5H398a2.5,2.5,0,0,0-2.5,2.5V48.25H349.27V6.94a2.5,2.5,0,0,0-2.5-2.5H328.51a2.5,2.5,0,0,0-2.5,2.5V112.21a2.5,2.5,0,0,0,2.5,2.5h18.26a2.5,2.5,0,0,0,2.5-2.5V70.13h46.24Z")
                    path(class="logo logo-5" d="M464,116.11c8.42,0,14.18-2.65,18.08-5.91v5.57c0,9.2-5.66,14.69-15.14,14.69-7.56,0-13.86-2.33-18.72-6.91a2.52,2.52,0,0,0-2.14-.64,2.48,2.48,0,0,0-1.8,1.32l-6.51,12.7a2.5,2.5,0,0,0,.52,3C446,147,456,150.63,468.21,150.63c21.83,0,35.93-13.68,35.93-34.86V43.17a2.5,2.5,0,0,0-2.5-2.5H484.77a2.5,2.5,0,0,0-2.5,2.5V78.31c0,11-5.08,17.63-13.6,17.63-7.92,0-9.58-5.63-9.58-10.36V43.17a2.5,2.5,0,0,0-2.5-2.5H439.72a2.5,2.5,0,0,0-2.5,2.5V86.36C437.22,104.71,447.49,116.11,464,116.11Z")
                    path(class="logo logo-6" d="M513.92,114.71h18.73a2.49,2.49,0,0,0,2-1l18.41-24.63v23.13a2.5,2.5,0,0,0,2.5,2.5h16.72a2.5,2.5,0,0,0,2.5-2.5V89.12L593,113.7a2.49,2.49,0,0,0,2,1h18.89a2.5,2.5,0,0,0,2.5-2.5v-.77a2.5,2.5,0,0,0-.52-1.53L590.12,76.42l23.18-31.3a2.49,2.49,0,0,0,.49-1.49v-.46a2.5,2.5,0,0,0-2.5-2.5H592.41a2.5,2.5,0,0,0-2,1.07l-15.58,22.4V4a2.5,2.5,0,0,0-2.5-2.5H555.41A2.49,2.49,0,0,0,552.91,4l.14,60.15L537.33,41.73a2.49,2.49,0,0,0-2.05-1.06H516.39a2.5,2.5,0,0,0-2.5,2.5v.46a2.48,2.48,0,0,0,.49,1.48l23,31.47-25.49,33.34a2.53,2.53,0,0,0-.51,1.52v.77A2.5,2.5,0,0,0,513.92,114.71Z")
                    path(class="logo logo-7" d="M658.72,116.72c11.24,0,20.67-3.22,28.83-9.84a2.51,2.51,0,0,0,.58-3.2l-6.5-11.15a2.52,2.52,0,0,0-1.72-1.2,2.49,2.49,0,0,0-2,.53A24.7,24.7,0,0,1,660.73,98c-8.6,0-15-3.79-17.91-10.52a142.51,142.51,0,0,0,14.51.65c20.18,0,31.76-8.3,31.76-22.77,0-15.61-12.93-26.5-31.45-26.5-22.17,0-38.26,16.35-38.26,38.88C619.38,100.67,635.56,116.72,658.72,116.72Zm-17-46c2.1-8.58,7.91-13.44,16.22-13.44,6.37,0,10.82,3.17,10.82,7.71,0,3.06-1.08,6.33-13.92,6.33A126.39,126.39,0,0,1,641.73,70.72Z")
                    path(class="logo logo-8" d="M764.35,40.67h-17a2.5,2.5,0,0,0-2.5,2.5V67.6H722V43.17a2.5,2.5,0,0,0-2.5-2.5H702.58a2.5,2.5,0,0,0-2.5,2.5v69a2.5,2.5,0,0,0,2.5,2.5h16.87a2.5,2.5,0,0,0,2.5-2.5v-25h22.87v25a2.5,2.5,0,0,0,2.5,2.5h17a2.5,2.5,0,0,0,2.5-2.5v-69A2.5,2.5,0,0,0,764.35,40.67Z")
                    path(class="logo logo-9" d="M100.69,191.62V174.74a2.5,2.5,0,0,0-2.5-2.5H20.32a2.49,2.49,0,0,0-2.5,2.5v16.88a2.49,2.49,0,0,0,2.5,2.5H47.69V280a2.5,2.5,0,0,0,2.5,2.5H68.46A2.5,2.5,0,0,0,71,280v-85.9H98.19A2.5,2.5,0,0,0,100.69,191.62Z")
                    path(class="logo logo-10" d="M153.78,244.06c3.94-3.6,5.93-8.52,5.93-14.67,0-12.51-9.9-20.92-24.64-20.92h-33.9a2.5,2.5,0,0,0-2.5,2.5v69a2.5,2.5,0,0,0,2.5,2.5h36.54c15.24,0,25.1-8.52,25.1-21.7C162.81,253.39,159.57,247.49,153.78,244.06Zm-33.7,9.35h13.45c4.91,0,7.4,2,7.4,6,0,1.45,0,5.86-7.4,5.86H120.08Zm11.59-16.61H120.08V225.71h11.59c3.16,0,6.94.9,6.94,5.24C138.61,233.62,137.4,236.8,131.67,236.8Z")
                    path(class="logo logo-11" d="M209.27,206.61c-23.26,0-39.51,16-39.51,38.89,0,22.61,16.62,39,39.51,39s39.65-16.42,39.65-39S232.25,206.61,209.27,206.61Zm17.46,38.89c0,11.37-7,19-17.46,19s-17.48-7.65-17.48-19,7-19,17.48-19S226.73,234.12,226.73,245.5Z")
                    path(class="logo logo-12" d="M324.5,208.47H307.62a2.5,2.5,0,0,0-2.5,2.5v35.76c0,12.56-7.33,17-13.6,17-4.46,0-9.58-1.32-9.58-11.59V211a2.5,2.5,0,0,0-2.5-2.5h-17a2.5,2.5,0,0,0-2.5,2.5V253.7c0,19.2,10,30.21,27.42,30.21a27.49,27.49,0,0,0,21.08-9.19l1.93,6.06a2.5,2.5,0,0,0,2.38,1.74H324.5A2.5,2.5,0,0,0,327,280V211A2.5,2.5,0,0,0,324.5,208.47Z")
                    path(class="logo logo-13" d="M453.54,191.62V174.74a2.5,2.5,0,0,0-2.5-2.5h-66.1a2.5,2.5,0,0,0-2.5,2.5V280a2.5,2.5,0,0,0,2.5,2.5H403.2a2.49,2.49,0,0,0,2.5-2.5v-85.9H451A2.5,2.5,0,0,0,453.54,191.62Z")
                    path(class="logo logo-14" d="M480.65,206.61c-23.26,0-39.51,16-39.51,38.89,0,22.61,16.62,39,39.51,39s39.65-16.42,39.65-39S503.63,206.61,480.65,206.61Zm17.46,38.89c0,11.37-7,19-17.46,19s-17.48-7.65-17.48-19,7-19,17.48-19S498.11,234.12,498.11,245.5Z")
                    path(class="logo logo-15" d="M564.23,209.45A2.5,2.5,0,0,0,562,208h-7.74a2.5,2.5,0,0,0-2.27,1.45l-32.05,69.21a2.55,2.55,0,0,0-.23,1V280a2.5,2.5,0,0,0,2.5,2.5h18.58a2.5,2.5,0,0,0,2.3-1.52L556.25,250l.15-.4c.6-1.55,1.19-3.07,1.75-4.67.27.79.55,1.55.82,2.31s.63,1.77.94,2.68a1.22,1.22,0,0,0,.07.17l13.32,31a2.49,2.49,0,0,0,2.29,1.51h18.58a2.5,2.5,0,0,0,2.5-2.5v-.31a2.41,2.41,0,0,0-.24-1Z")
                    path(class="logo logo-16" d="M635.39,206.61c-23.26,0-39.5,16-39.5,38.89,0,22.61,16.61,39,39.5,39s39.66-16.42,39.66-39S658.37,206.61,635.39,206.61Zm17.47,38.89c0,11.37-7,19-17.47,19s-17.47-7.65-17.47-19,7-19,17.47-19S652.86,234.12,652.86,245.5Z")
                    path(class="logo logo-17" d="M742.09,258.54a2.5,2.5,0,0,0-3.71-.32c-4.87,4.58-9.49,6.45-15.94,6.45-10.63,0-17.78-7.71-17.78-19.17,0-11.29,7.44-19.18,18.09-19.18a20.53,20.53,0,0,1,14.64,5.29,2.51,2.51,0,0,0,3.64-.44l8.2-11.3a2.48,2.48,0,0,0-.38-3.35c-7.64-6.67-16.59-9.91-27.34-9.91-22.53,0-38.88,16.36-38.88,38.89,0,25.62,19.17,39,38.11,39,12.24,0,20.8-3.28,29.56-11.34a2.49,2.49,0,0,0,.3-3.34Z")
                    
                    path(class="logo logo-point" d="M306.9,183l-11.43-16a2.52,2.52,0,0,0-2-1h0a2.5,2.5,0,0,0-2,1.05l-11.39,16a2.49,2.49,0,0,0,0,2.9l11.39,16a2.55,2.55,0,0,0,2,1.05h0a2.5,2.5,0,0,0,2-1.05l11.43-16A2.48,2.48,0,0,0,306.9,183Z")
                    
                    rect(class="logo cube-2" x="437.06" y="4" width="98.96" height="23.25" rx="4.31")
                    rect(class="logo cube-1" x="112.79" y="4" width="192.08" height="23.25" rx="3.37")
                    rect(class="logo cube-4" x="111.34" y="172.1" width="157.64" height="22.28" rx="4")
                    rect(class="logo cube-5" x="317.51" y="172.1" width="50.42" height="22.28" rx="2.81")
                    rect(class="logo cube-6" x="469.18" y="172.1" width="279.42" height="22.28" rx="3.25")
                    rect(class="logo cube-3" x="591.63" y="4" width="174.37" height="23.25" rx="3.16")
        .intro__info
            p.intro__info-description Конкурс завершён!
            p.intro__info-description Конкурс завершён!
            
            a(href="#" target="_self").intro__info-link Победители
        .intro__support
            b.intro__support-text При поддержке
            a(href="#" target="_blank").intro__support-link
                img(src="static/images/common/tri-logo.svg" alt="tricolor-tv").intro__support-logo
    .intro__images.i-images
        for i in images
            img(src="static/images/common/" +i.source class="i-images__item i-" +i.name)
        // Микрофон
        .i-images__mic
            .i-images__mic-top
                img(src="static/images/common/mic-top.svg").i-images__mic-top-image
                img(src="static/images/common/mic-top-shape.svg").i-images__mic-top-shape
            .i-images__mic-bottom
                img(src="static/images/common/mic-bottom.svg").i-images__mic-bottom-image
                img(src="static/images/common/mic-bottom-shape.svg").i-images__mic-bottom-shape
                img(src="static/images/common/intro-cloud-3.svg").i-images__mic-bottom-cloud
