section.player.invisible
    .player__wrapper
        p.player__description Посмотри видео несколько раз и проговори вслух реплики своего героя. Когда будешь готов - жми запись и&nbsp;говори&nbsp;в&nbsp;микрофон

        .player__video
            .player__frame
                video(src="static/video/video-1.mp4" type="video/mp4" style="--width: 712; --height: 500;" autoplay="none").player__content
                .player__details
                    img(src="static/images/content/hero-1.png" alt="").player__details-image
                    b.player__details-title Губка&nbsp;Боб Квадратные&nbsp;Штаны
            .player__controls.controls
                // Кнопки первой части
                ul.controls__list.step-1
                    li.controls__item
                        button(type="button").controls__btn.play Плэй
                    li.controls__item
                        button(type="button").controls__btn.pause Пауза
                    li.controls__item
                        button(type="button").controls__btn.stop Стоп
                    li.controls__item.rec
                        button(type="button").controls__btn.rec Запись
                // Кнопки второй части
                ul.controls__list.step-2
                    li.controls__item
                        button(type="button").controls__btn.listen Прослушать
                    li.controls__item
                        button(type="button").controls__btn.repeat Перезаписать
                    li.controls__item.send
                        button(type="submit").controls__btn.send Отправить
        a(href="#" target="_self").player__return Выбрать другое шоу
    .player__elements
        .player__elements-block.el-left
            .player__elements-frame.el-disk
                img(src="static/images/common/4-disc.svg" alt="").player__elements-image
            .player__elements-frame.el-star
                img(src="static/images/common/4-star.svg" alt="").player__elements-image
            .player__elements-frame.el-tree
                img(src="static/images/common/4-tree.svg" alt="").player__elements-image
            .player__elements-frame.el-cone
                img(src="static/images/common/4-cone.svg" alt="").player__elements-image
        .player__elements-block.el-right
            .player__elements-frame.el-disk
                img(src="static/images/common/4-disc.svg" alt="").player__elements-image
            .player__elements-frame.el-star
                img(src="static/images/common/4-star.svg" alt="").player__elements-image
            .player__elements-frame.el-tree
                img(src="static/images/common/4-tree.svg" alt="").player__elements-image
            .player__elements-frame.el-cone
                img(src="static/images/common/4-cone.svg" alt="").player__elements-image
        .player__ball
            .ball__wrapper
                svg.ball__item.b-1
                    circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
                svg.ball__item.b-2
                    circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
                svg.ball__item.b-3
                    circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
                svg.ball__item.b-4
                    circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
                svg.ball__item.b-5
                    circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
                svg.ball__item.b-6
                    circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
                svg.ball__item.b-7
                    circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
                svg.ball__item.b-8
                    circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
                svg.ball__item.b-9
                    circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
                svg.ball__item.b-10
                    circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
                svg.ball__item.b-11
                    circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
                svg.ball__item.b-12
                    circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
                svg.ball__item.b-13
                    circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
                svg.ball__item.b-14
                    circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
                svg.ball__item.b-15
                    circle(cx="2" cy="2" r="1" stroke="#fefafa" fill="#fefafa" stroke-width="0")
