section.tv.invisible
    .tv__wrapper
        .tv__info
            .tv__info-wrap
                a(href="#" target="_blank").tv__info-link.tri
                    img(src="static/images/common/tri-logo.svg" alt="Tricolor").tv__info-logo
                a(href="https://www.tricolor.tv/channelpackages/detskiy/" target="_blank").tv__info-link.kid
                    img(src="static/images/common/kid-logo.svg" alt="Tricolor").tv__info-logo
            p.tv__info-description Хочешь смотреть мультфильмы и увидеть любимых персонажей? Триколору есть что тебе показать. В пакет каналов «Детский» мы включили 20 популярных телеканалов, на которых ты точно найдешь проекты по своему вкусу.
            p.tv__info-description Смотри твой любимый канал Nickelodeon на любом устройстве и в любом месте. Ставь на паузу, перематывай эфир и смотри мультфильмы из архива. С Триколором ты точно ничего не пропустишь.
            
            a(href="#" target="_blank").tv__info-more Узнать больше
        .tv__visual
            .tv__screen
                img(src="static/images/common/screen.svg" alt="").tv__screen-image
                img(src="static/images/common/screen-bottom.svg" alt="").tv__screen-bottom
            .tv__shadows-frame.shade-1
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 221.08 265.41").tv__shadows-image
                    path(class="tv__shadows-item yellow" d="M211.66,163.1,9.42,264.24C4.22,266.84,0,265,0,260.06V115.67c0-4.92,4.23-11,9.44-13.61L211.67,1.17c5.2-2.6,9.41-.72,9.41,4.18V149.5C221.08,154.41,216.86,160.5,211.66,163.1Z")
            .tv__shadows-frame.shade-2
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 221.08 265.41").tv__shadows-image
                    path(class="tv__shadows-item red" d="M211.66,163.1,9.42,264.24C4.22,266.84,0,265,0,260.06V115.67c0-4.92,4.23-11,9.44-13.61L211.67,1.17c5.2-2.6,9.41-.72,9.41,4.18V149.5C221.08,154.41,216.86,160.5,211.66,163.1Z")
            .tv__shadows-frame.shade-3
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 221.08 265.41").tv__shadows-image
                    path(class="tv__shadows-item yellow" d="M211.66,163.1,9.42,264.24C4.22,266.84,0,265,0,260.06V115.67c0-4.92,4.23-11,9.44-13.61L211.67,1.17c5.2-2.6,9.41-.72,9.41,4.18V149.5C221.08,154.41,216.86,160.5,211.66,163.1Z")
            .tv__shadows-frame.shade-4
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 221.08 265.41").tv__shadows-image
                    path(class="tv__shadows-item blue" d="M211.66,163.1,9.42,264.24C4.22,266.84,0,265,0,260.06V115.67c0-4.92,4.23-11,9.44-13.61L211.67,1.17c5.2-2.6,9.41-.72,9.41,4.18V149.5C221.08,154.41,216.86,160.5,211.66,163.1Z")
            .tv__shadows-frame.shade-5
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 221.08 265.41").tv__shadows-image
                    path(class="tv__shadows-item blue" d="M211.66,163.1,9.42,264.24C4.22,266.84,0,265,0,260.06V115.67c0-4.92,4.23-11,9.44-13.61L211.67,1.17c5.2-2.6,9.41-.72,9.41,4.18V149.5C221.08,154.41,216.86,160.5,211.66,163.1Z")
            .tv__shadows-frame.shade-6
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 221.08 265.41").tv__shadows-image
                    path(class="tv__shadows-item yellow" d="M211.66,163.1,9.42,264.24C4.22,266.84,0,265,0,260.06V115.67c0-4.92,4.23-11,9.44-13.61L211.67,1.17c5.2-2.6,9.41-.72,9.41,4.18V149.5C221.08,154.41,216.86,160.5,211.66,163.1Z")
            .tv__shadows-frame.shade-7
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 221.08 265.41").tv__shadows-image
                    path(class="tv__shadows-item red" d="M211.66,163.1,9.42,264.24C4.22,266.84,0,265,0,260.06V115.67c0-4.92,4.23-11,9.44-13.61L211.67,1.17c5.2-2.6,9.41-.72,9.41,4.18V149.5C221.08,154.41,216.86,160.5,211.66,163.1Z")
            .tv__shadows-frame.shade-8
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 221.08 265.41").tv__shadows-image
                    path(class="tv__shadows-item red" d="M211.66,163.1,9.42,264.24C4.22,266.84,0,265,0,260.06V115.67c0-4.92,4.23-11,9.44-13.61L211.67,1.17c5.2-2.6,9.41-.72,9.41,4.18V149.5C221.08,154.41,216.86,160.5,211.66,163.1Z")
            .tv__shadows-frame.shade-9
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 221.08 265.41").tv__shadows-image
                    path(class="tv__shadows-item yellow" d="M211.66,163.1,9.42,264.24C4.22,266.84,0,265,0,260.06V115.67c0-4.92,4.23-11,9.44-13.61L211.67,1.17c5.2-2.6,9.41-.72,9.41,4.18V149.5C221.08,154.41,216.86,160.5,211.66,163.1Z")
            .tv__shadows-frame.shade-10
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 221.08 265.41").tv__shadows-image
                    path(class="tv__shadows-item blue" d="M211.66,163.1,9.42,264.24C4.22,266.84,0,265,0,260.06V115.67c0-4.92,4.23-11,9.44-13.61L211.67,1.17c5.2-2.6,9.41-.72,9.41,4.18V149.5C221.08,154.41,216.86,160.5,211.66,163.1Z")
        a(href="#" target="_blank").tv__link Узнать больше
