.visuals
    .figures
        img(src="static/images/common/meduza.svg" alt="").figures__jelly-1
        img(src="static/images/common/meduza.svg" alt="").figures__jelly-2
        img(src="static/images/common/meduza.svg" alt="").figures__jelly-3
        img(src="static/images/common/meduza.svg" alt="").figures__jelly-4
        img(src="static/images/common/meduza.svg" alt="").figures__jelly-5
        img(src="static/images/common/gift.svg" alt="").figures__gift-1
        img(src="static/images/common/gift.svg" alt="").figures__gift-2
        img(src="static/images/common/gift.svg" alt="").figures__gift-3
    .bubbles
        svg.bubbles__ball.b1
            circle(cx="3.5" cy="3.5" r="3.5" stroke="#83db0f" fill="#83db0f" stroke-width="0")
        svg.bubbles__ball.b2
            circle(cx="7" cy="7" r="7" stroke="#83db0f" fill="#83db0f" stroke-width="0")
        svg.bubbles__ball.b3
            circle(cx="4" cy="4" r="4" stroke="#83db0f" fill="#83db0f" stroke-width="0")
        svg.bubbles__ball.b4
            circle(cx="4" cy="4" r="4" stroke="#83db0f" fill="#83db0f" stroke-width="0")
        svg.bubbles__ball.b5
            circle(cx="3.5" cy="3.5" r="3.5" stroke="#83db0f" fill="#83db0f" stroke-width="0")
        svg.bubbles__ball.b6
            circle(cx="3" cy="3" r="3" stroke="#83db0f" fill="#83db0f" stroke-width="0")
        svg.bubbles__ball.b7
            circle(cx="4.5" cy="4.5" r="4.5" stroke="#83db0f" fill="#83db0f" stroke-width="0")
        svg.bubbles__ball.b8
            circle(cx="7" cy="7" r="7" stroke="#83db0f" fill="#83db0f" stroke-width="0")
        svg.bubbles__ball.b9
            circle(cx="10" cy="10" r="10" stroke="#83db0f" fill="#83db0f" stroke-width="0")

    .rocket
        .rocket__top
            img(src="static/images/common/5-rocket-cone.svg" alt="").rocket__top-image
            img(src="static/images/common/5-rocket-cone-glow.svg" alt="").rocket__top-shape
        .rocket__body
            img(src="static/images/common/5-rocket-mid.svg" alt="").rocket__body-image
            img(src="static/images/common/5-rocket-mid-glow.svg" alt="").rocket__body-shape
            img(src="static/images/common/5-rocket-trans.svg" alt="").rocket__body-trans
            img(src="static/images/common/intro-cloud-1.svg").rocket__body-cloud
        .rocket__disk
            img(src="static/images/common/5-rocket-bottom.svg" alt="").rocket__disk-image
            img(src="static/images/common/5-rocket-bottom-glow.svg" alt="").rocket__disk-shape
        .rocket__wings
            img(src="static/images/common/5-rocket-wings.svg" alt="").rocket__wings-image
            img(src="static/images/common/5-rocket-wings-glow.svg" alt="").rocket__wings-shape
            img(src="static/images/common/cloud-3.svg").rocket__wings-cloud
        .rocket__bottom
            img(src="static/images/common/5-rocket-bottom.svg" alt="").rocket__bottom-image
            img(src="static/images/common/5-rocket-bottom-glow.svg" alt="").rocket__bottom-shape
