section.winner.invisible
    p.winner__description Победителей объявим 20 января!
    .winner__frame
        img(src="static/images/common/gift-2.svg" alt="winners").winner__frame-image
        img(src="static/images/common/gift-2-bottom.svg" alt="winners bottom").winner__frame-bottom
    
    .winner__glowing
        span(style="--i:1").winner__glowing-part
        span(style="--i:2").winner__glowing-part
        span(style="--i:3").winner__glowing-part
    .winner__glowing
        span(style="--i:3").winner__glowing-part
        span(style="--i:1").winner__glowing-part
        span(style="--i:2").winner__glowing-part
    .winner__glowing
        span(style="--i:2").winner__glowing-part
        span(style="--i:3").winner__glowing-part
        span(style="--i:1").winner__glowing-part
        
    .winner__glowing
        span(style="--i:2").winner__glowing-part
        span(style="--i:3").winner__glowing-part
        span(style="--i:1").winner__glowing-part
    .winner__glowing
        span(style="--i:2").winner__glowing-part
        span(style="--i:3").winner__glowing-part
        span(style="--i:1").winner__glowing-part
