.footer {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    z-index: 5;

    position: fixed;
    bottom: 1rem;
    left: 1.5rem;
    right: 1.5rem;

    width: calc(100% - 3rem);

    &.invisible {
        opacity: 0;
        display: none;
        pointer-events: none;
        transition: opacity 1s linear;
    }

    &.hidden {
        display: none;
    }

    &__nav {
        width: 100%;
        @include flex-setting(row, space-between, center);
    }

    &__list {
        width: auto;
        @include flex-setting(row, flex-start, center);

        &-item {
            width: auto;

            &:last-of-type {
                margin-right: 0;
                display: none;
            }
        }

        &-link {
            @include flex-setting(column, center, center);
            @include font-setting($primary-font, 0.75rem, 1, 500, rgba(255, 255, 255, 0.4));

            text-transform: uppercase;
            text-decoration: none;

            padding: 0.625rem 1.25rem;

            border: 1px solid rgba(255, 255, 255, 0.4);
            border-radius: 25px;
            transition: 0.2s linear;

            &:hover,
            &:active,
            &:focus {
                border-color: rgba(255, 255, 255, 1);
                color: rgba(255, 255, 255, 1);
                transition: 0.2s linear;
            }
        }
    }

    &__social {
        width: auto;
        @include flex-setting(row, flex-start, center);

        &-item {
            width: auto;
            margin-left: 0.625rem;
        }

        &-link {
            position: relative;
            @include flex-setting(column, center, center);

            text-decoration: none;

            width: 28px;
            height: 28px;

            border-radius: 14px;
            background-color: rgba(255, 255, 255, 0.4);
            transition: 0.2s linear;

            cursor: pointer;
            outline: none;

            .fa-vk::before {
              position: absolute;
              content: '\f189';
              font-size: 1em;
              color: #2d0304;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }

            .fa-instagram::before {
              position: absolute;
              content: '\f16d';
              font-size: 1em;
              color: #2d0304;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }

            .fa-youtube::before {
              position: absolute;
              content: '\f167';
              font-size: 1em;
              color: #2d0304;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }

            &:hover,
            &:active,
            &:focus {
                background-color: rgba(255, 255, 255, 1);
                transition: 0.2s linear;
            }
        }
    }
}

@media only screen and (max-height: 590px) {
    .footer {
        position: fixed;
        bottom: 1rem;
        left: 1.5rem;
        right: 1.5rem;

        width: calc(100% - 3rem);
    }
}

@media only screen and (min-width: 768px) {
    .footer {
        max-width: 700px;

        position: fixed;
        bottom: 1.25rem;
        left: auto;
        right: auto;

        &__list {
            &-link {
                font-size: 0.688rem;
            }

            &-item {
                &:first-of-type {
                    margin-right: 1.25rem;
                }

                &:last-of-type {
                    display: inline-flex;
                }
            }
        }

        &__social {
            &-item {
                width: auto;
                margin-left: 1rem;
            }

            &-link {
                width: 30px;
                height: 30px;

                border-radius: 15px;

                .fa-vk::before {
                  font-size: 1.125rem;
                }

                .fa-instagram::before {
                  font-size: 1.125rem;
                }

                .fa-youtube::before {
                  font-size: 1.125rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 1366px) {
    .footer {
        max-width: 1010px;
        bottom: 1.25rem;

        &.invisible {
            opacity: 1;
            display: flex;
            pointer-events: all;
            transition: opacity 0.25s linear;

            position: fixed;
            bottom: 3rem;
            left: auto;
            right: auto;
        }
    }
}

@media only screen and (min-width: 1680px) {
    .footer {
        max-width: 1220px;

        left: auto;
        right: auto;

        bottom: 3rem;

        &__list {
            &-link {
                font-size: 0.875rem;
                border-width: 2px;

                padding: 0.625rem 1.875rem;
            }

            &-item {
                &:first-of-type {
                    margin-right: 1rem;
                }
            }
        }

        &__social {
            &-item {
                margin-left: 1.25rem;
            }

            &-link {
                width: 46px;
                height: 46px;

                border-radius: 23px;

                .fa-vk::before {
                  font-size: 2rem;
                }

                .fa-instagram::before {
                  font-size: 2rem;
                }

                .fa-youtube::before {
                  font-size: 2rem;
                }
            }
        }
    }
}
