include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" type='text/css' href="static/css/styles.css")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500;700&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css")
		link(rel="stylesheet" type='text/css' href="static/css/styles.css")
	body
		.desktop-stars
			svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").desktop-stars__item.s-1
				path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
			svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").desktop-stars__item.s-2
				path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
			svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").desktop-stars__item.s-3
				path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
			svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").desktop-stars__item.s-4
				path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
			svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").desktop-stars__item.s-5
				path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
			svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").desktop-stars__item.s-6
				path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
			svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").desktop-stars__item.s-7
				path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
			svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").desktop-stars__item.s-8
				path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
			svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").desktop-stars__item.s-9
				path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
			svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").desktop-stars__item.s-10
				path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
			svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").desktop-stars__item.s-11
				path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
			svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").desktop-stars__item.s-12
				path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
			svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").desktop-stars__item.s-13
				path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
			svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.58 286.32").desktop-stars__item.s-14
				path(class="stars__star" d="M272.58,128a113.51,113.51,0,0,1-80.5-33.07A111.85,111.85,0,0,1,158.79,15a15,15,0,0,0-30,0A111.85,111.85,0,0,1,95.5,94.93,113.51,113.51,0,0,1,15,128a15,15,0,0,0,0,30c62.74,0,113.79,50.84,113.79,113.32a15,15,0,0,0,30,0c0-62.48,51.05-113.32,113.79-113.32a15,15,0,0,0,0-30Z")
		.main-wrapper
			include ../modules/header/header
			main.main
				include ../modules/functional/intro
				include ../modules/functional/map
				include ../modules/functional/choose
				include ../modules/functional/player
				include ../modules/functional/final
				include ../modules/functional/tv
				include ../modules/functional/prize
				include ../modules/functional/howto
				include ../modules/functional/winner
			include ../modules/footer/footer
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
		script(src="static/js/slider.js")
		script(src="static/js/main.js")
		block script
