.choose {
    width: 100%;

    &.visible {
        @include flex-setting(column, flex-start, center);
        opacity: 1;
        width: 100%;
        height: 100%;

        pointer-events: all;
        transition: opacity 1s linear;
    }

    &.invisible {
        pointer-events: none;
        transition: opacity 1s linear;
        opacity: 0;
    }

    &.hidden {
        display: none;
    }

    &__wrapper {
        width: 100%;

        @include flex-setting(column, flex-start, center);
    }

    &__description {
        @include font-setting($primary-font, 0.75rem, normal, 500, $text-white);
        text-align: center;
        text-shadow: 0px 0px 8px rgba(255,255,255,0.65);

        margin-bottom: 1rem;
    }

    &__slider {
        width: 100%;
        height: 100%;
        max-height: 248px;

        @include flex-setting(column, flex-start, center);

        position: relative;

        margin-bottom: 1rem;
    }

    &__prev,
    &__next {
        width: 21px;
        height: 43px;

        position: absolute;

        background-color: transparent;
        border: none;

        cursor: pointer;
        outline: none;

        top: 50%;
        transform: translateY(-50%);

        filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.95));
    }

    &__prev {
        background-image: url('../images/common/arr-prev.png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        left: 0;
    }

    &__next {
        background-image: url('../images/common/arr-next.png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        right: 0;
    }

    .slick-disabled {
        opacity: 0.5;
        filter: none;
    }

    &__list {
        width: 100%;
        height: 100%;

        max-width: 248px;
        max-height: 248px;

        .slick-slide div {
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .slick-dots {
          @include flex-setting(row, center, center);
          margin: 0;
          padding: 0;
          list-style: none;

          left: 50%;
          transform: translateX(-50%);

          bottom: -3.875rem;

          position: absolute;

          li button {
            background-color: transparent;
            border: 1px solid #f7f4f5;
            border-radius: 100%;

            font-size: 0;

            width: 13px;
            height: 13px;

            padding: 0;

            margin: 0 0.25rem;
            position: relative;

            cursor: pointer;
            outline: none;

            box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.25);
          }

          .slick-active {
            position: relative;

            &::after {
              position: absolute;
              content: '';
              width: 13px;
              height: 13px;
              background-color: #f7f4f5;
              border-radius: 100%;

              box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.25);

              left: 4px;
              top: 10px;

              transition: 0.1s ease-in;
            }
          }
        }

        &:not(.slick-initialized) {
          visibility: hidden;
          display: flex;
          max-width: 100%;
          overflow-y: hidden;
          overflow-x: auto;

          .slick-list {
            height: 248px !important;
          }
        }
    }

    &__item {
        max-width: 248px;
        max-height: 248px;

        border: 2px solid #fefefe;
        box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.2), 0 0 10px 3px rgba(255, 255, 255, 0.2) inset;
        border-radius: 124px;

        padding: 1rem 1rem;

        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.hero-1 {
            .choose__image {
                position: absolute;
                bottom: -2rem;
            }
        }

        &.hero-3 {
            .choose__image {
                position: absolute;
                bottom: -4rem;
                max-height: 250px;
            }
        }

        &.hero-4 {
            .choose__image {
                position: absolute;
                max-height: 180px;
            }
        }

        &.hero-5 {
            .choose__image {
                position: absolute;
                max-height: 180px;
            }
        }
    }

    &__frame {
        width: 212px;
        height: 212px;

        max-width: 212px;
        max-height: 212px;

        border-radius: 106px;

        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        background: linear-gradient(135deg, #db1e47 50%, #b71437 50%);

        position: relative;
    }

    &__image {
        max-height: 200px;
        object-fit: contain;
    }

    &__name {
        @include font-setting($primary-font, 1rem, normal, 800, $text-white);
        font-style: italic;
        margin-bottom: 2.875rem;
    }

    &__submit {
        @include flex-setting(column, center, center);
        @include font-setting($secondary-font, 0.75rem, 1, 700, $text-black);

        text-transform: uppercase;
        text-decoration: none;

        background-color: #cac8c8;
        border: none;
        border-radius: 25px;

        width: 146px;
        height: 40px;

        box-shadow: 0px -5px 5px 5px rgba(154, 151, 151, 0.7) inset;

        position: relative;

        transition: 0.2s linear;

        &:hover,
        &:active,
        &:focus {
            box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2) inset, 0px -2px 5px 2px rgba(154, 151, 151, 0.7) inset;
            transition: 0.2s linear;
        }

        &::after {
            position: absolute;
            content: '';

            width: 158px;
            height: 52px;

            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            background-color: transparent;
            border: 1px solid #cac8c8;
            border-radius: 26px;

            box-shadow: 0 0 5px 0px rgba(153, 228, 35, 0.57), 0 0 5px 0px rgba(153, 228, 35, 0.57) inset;
        }
    }

    &__elements {
        padding: 10rem 1.5rem 12rem 1.5rem;

        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;

        z-index: -1;

        &-block.el-right {
            display: none;
        }

        &-block.el-left {
            position: relative;
            width: 100%;
            height: 100%;

            .choose__elements-frame {
                position: absolute;

                &.el-ball {
                    width: 35px;
                    height: 42px;

                    top: 0.625rem;
                    left: 0.625rem;
                    transform: rotate(-44deg);

                    animation: glow-red-ball 3s linear infinite both, jelly-moving 6s linear infinite both reverse;
                }

                &.el-ball-2 {
                    width: 34px;
                    height: 37px;

                    top: 14.75rem;
                    right: 0.625rem;


                    animation: glow-yellow 2s linear infinite both, jelly-moving 8s linear infinite both;
                }

                &.el-figure {
                    width: 34px;
                    height: 43px;

                    top: 14.875rem;
                    left: 0.75rem;

                    transform: rotate(-22deg);

                    animation: glow-white 2s linear 0.2s infinite both, jelly-moving 6s linear infinite both reverse;
                }

                &.el-tube {
                    width: 30px;
                    height: 40px;

                    top: 0.875rem;
                    right: 0.625rem;

                    animation: glow-orange-ball 3s linear 0.5s infinite both, jelly-moving 8s linear infinite both;
                }
            }
        }

        .choose__elements-image {
            width: inherit;
            height: inherit;

            object-fit: contain;
        }
    }
}

@media only screen and (max-height: 590px) {
    .choose {
        &__wrapper {
            margin-top: -1rem;
        }

        &__slider {
            max-height: 218px;
            margin-bottom: 0.5rem;
        }

        &__list {
            .slick-dots {
                bottom: -2.875rem;
            }

            &:not(.slick-initialized) {
              .slick-list {
                height: 218px !important;
              }
            }
        }

        &__item {
            max-width: 218px;
            max-height: 218px;

            border-radius: 109px;

            padding: 0.5rem 0.5rem;
        }

        &__frame {
            width: 198px;
            height: 198px;

            max-width: 198px;
            max-height: 198px;

            border-radius: 99px;
        }

        &__image {
            max-height: 180px;
            object-fit: contain;
        }

        &__name {
            @include font-setting($primary-font, 1rem, normal, 800, $text-white);
            font-style: italic;
            margin-bottom: 1.875rem;
        }

        &__submit {
            @include flex-setting(column, center, center);
            @include font-setting($secondary-font, 0.75rem, 1, 700, $text-black);

            text-transform: uppercase;
            text-decoration: none;

            background-color: #cac8c8;
            border: none;
            border-radius: 25px;

            width: 146px;
            height: 40px;

            box-shadow: 0px -5px 5px 5px rgba(154, 151, 151, 0.7) inset;

            position: relative;

            transition: 0.2s linear;

            &:hover,
            &:active,
            &:focus {
                box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2) inset, 0px -2px 5px 2px rgba(154, 151, 151, 0.7) inset;
                transition: 0.2s linear;
            }

            &::after {
                position: absolute;
                content: '';

                width: 158px;
                height: 52px;

                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);

                background-color: transparent;
                border: 1px solid #cac8c8;
                border-radius: 26px;

                box-shadow: 0 0 5px 0px rgba(153, 228, 35, 0.57), 0 0 5px 0px rgba(153, 228, 35, 0.57) inset;
            }
        }

        &__elements {
            padding: 10rem 1.5rem 12rem 1.5rem;

            width: 100%;
            height: 100vh;

            top: 0;
            bottom: 0;

            z-index: -1;

            &-block.el-right {
                display: none;
            }

            &-block.el-left {
                position: relative;
                width: 100%;
                height: 100%;

                .choose__elements-frame {
                    position: absolute;

                    &.el-ball {
                        width: 35px;
                        height: 42px;

                        top: 0.625rem;
                        left: 0.625rem;
                        transform: rotate(-44deg);

                        .choose__elements-image {
                            @include glowBox(glow-red, 219, 30, 71, 0.8, 3s, 0s);
                        }
                    }

                    &.el-ball-2 {
                        width: 34px;
                        height: 37px;

                        top: 14.75rem;
                        right: 0.625rem;

                        .choose__elements-image {
                            @include glowBox(glow-y, 231, 201, 1, 0.8, 2.5s, 0.5s);
                        }
                    }

                    &.el-figure {
                        width: 34px;
                        height: 43px;

                        top: 14.875rem;
                        left: 0.75rem;

                        transform: rotate(-22deg);

                        .choose__elements-image {
                            @include glowBox(glow-w, 255, 255, 255, 0.7, 2.8s, 1s);
                        }
                    }

                    &.el-tube {
                        width: 30px;
                        height: 40px;

                        top: 0.875rem;
                        right: 0.625rem;

                        .choose__elements-image {
                            @include glowBox(glow-o, 224, 84, 2, 0.7, 2s, 1s);
                        }
                    }
                }
            }

            .choose__elements-image {
                width: inherit;
                height: inherit;

                object-fit: contain;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .choose {
        position: relative;

        &__description {
            position: absolute;
            top: -4rem;

            font-size: 0.813rem;

            margin-bottom: 0;
        }

        &__slider {
            max-height: 100%;
            margin-bottom: 1.625rem;
        }

        &__prev,
        &__next {
            display: none;
        }

        &__list {
            width: 100%;
            height: 100%;

            max-width: 530px;
            max-height: 328px;

            padding: 0;
            overflow: visible;

            @include flex-setting(row, center, flex-start);
            flex-wrap: wrap;

            &:not(.slick-initialized) {
                @include flex-setting(row, center, flex-start);
                flex-wrap: wrap;
                visibility: visible;
                opacity: 1;
                overflow: visible;

                max-width: 530px;
                max-height: 328px;
            }
        }

        &__item {
            width: 100%;
            height: 100%;

            max-width: 156px;
            max-height: 156px;

            border-radius: 78px;
            padding: 0.625rem 0.625rem;

            border-color: rgba(255, 255, 255, 0.4);

            position: relative;
            transition: 0.2s linear;

            &.selected {
                border-color: #a0e03c;

                .choose__frame {
                    background: linear-gradient(135deg, #a0e03c 50%, #7ebb1f 50%);
                }
            }

            &:hover,
            &:active,
            &:focus {
                border-color: rgba(255, 255, 255, 1);
                transition: 0.2s linear;
            }

            &.hero-1 {
                .choose__image {
                    position: absolute;
                    bottom: -2rem;
                }
            }

            &.hero-2 {
                margin-left: 1.875rem;
                margin-right: 1.875rem;
            }

            &.hero-3 {
                .choose__image {
                    position: absolute;
                    bottom: -2rem;
                    max-height: 150px;
                }
            }

            &.hero-4 {
                margin-right: 0.937rem;

                .choose__image {
                    position: absolute;
                    max-height: 120px;
                }
            }

            &.hero-5 {
                margin-left: 0.937rem;

                .choose__image {
                    position: absolute;
                    max-height: 120px;
                }
            }
        }

        &__frame {
            width: 132px;
            height: 132px;

            max-width: 132px;
            max-height: 132px;

            border-radius: 66px;
        }

        &__image {
            max-height: 130px;
        }

        &__name {
            font-size: 0.875rem;
            margin-bottom: 1.25rem;
        }

        &__submit {
            font-size: 0.688rem;
            border-radius: 15px;

            min-height: 30px;
            width: 112px;
            height: 30px;

            &::after {
                width: 122px;
                height: 40px;
                border-radius: 20px;
            }
        }

        &__elements {
            padding: 15rem 1.5rem 12rem 1.5rem;
            @include flex-setting(row, space-between, flex-start);

            z-index: -1;

            &-block.el-right {
                display: flex;
                position: relative;
                width: 100%;
                max-width: 224px;
                height: 100%;
                max-height: 340px;

                .choose__elements-frame {
                    position: absolute;

                    &.el-ball {
                        width: 42px;
                        height: 50px;

                        top: 14.75rem;
                        right: 8.75rem;

                        transform: rotate(-44deg);

                        animation: glow-red-ball 3s linear infinite both, jelly-moving 8s linear infinite both;
                    }

                    &.el-ball-2 {
                        width: 39px;
                        height: 48px;

                        top: 7.875rem;
                        right: 4.75rem;

                        animation: glow-yellow 2s linear infinite both, jelly-moving 8s linear infinite both reverse;
                    }

                    &.el-figure {
                        top: 12.875rem;
                        right: -0.375rem;
                        width: 40px;
                        height: 52px;

                        transform: rotate(-22deg);

                        animation: glow-white 2s linear 0.2s infinite both, jelly-moving 6s linear infinite both;
                    }

                    &.el-tube {
                        width: 39px;
                        height: 41px;

                        top: 12.875rem;
                        right: auto;
                        right: -0.375rem;

                        top: 0.625rem;
                        right: 0.625rem;

                        transform: rotate(-24deg);

                        animation: glow-orange-ball 3s linear 0.5s infinite both, jelly-moving 6s linear infinite both reverse;
                    }
                }
            }

            &-block.el-left {
                position: relative;
                width: 100%;
                max-width: 224px;
                height: 100%;
                max-height: 340px;

                .choose__elements-frame {
                    &.el-ball {
                        width: 42px;
                        height: 50px;

                        top: 0.625rem;
                        left: 0.625rem;
                        transform: rotate(-44deg);

                    }

                    &.el-ball-2 {
                        width: 39px;
                        height: 48px;

                        top: 14.75rem;
                        left: 8.75rem;
                        right: auto;
                    }

                    &.el-figure {
                        width: 40px;
                        height: 52px;

                        top: 7.875rem;
                        left: 4.75rem;

                        transform: rotate(22deg);
                    }

                    &.el-tube {
                        width: 39px;
                        height: 41px;

                        top: 12.875rem;
                        right: auto;
                        left: -0.375rem;

                        transform: rotate(-66deg);
                    }
                }
            }
        }
    }

}

@media only screen and (min-width: 1366px) {
    .choose {
        margin-top: -2.375rem;

        &__list {
            min-height: 330px;
            max-height: 330px;
        }

        &__slider {
            margin-bottom: 1.25rem;
        }

        &__item {
            cursor: pointer;

            &.hero-4 {
                margin-top: auto;
                margin-bottom: 0;
            }

            &.hero-5 {
                margin-top: auto;
                margin-bottom: 0;
            }
        }

        &__elements {
            padding: 0;
            width: 100%;
            max-width: 854px;
            height: 335px;
            top: 15rem;

            &-block.el-right {
                .choose__elements-frame {
                    &.el-ball {
                        top: auto;
                        bottom: 0;
                        right: 11.125rem;
                    }

                    &.el-ball-2 {
                        top: 8.25rem;
                        right: 8.5rem;
                    }

                    &.el-figure {
                        top: auto;
                        bottom: 4rem;
                        right: 0rem;
                    }

                    &.el-tube {
                        top: 0rem;
                        right: 1.625rem;
                    }
                }
            }

            &-block.el-left {
                .choose__elements-frame {
                    &.el-ball {
                        top: 0rem;
                        left: 1.625rem;
                    }

                    &.el-ball-2 {
                        top: auto;
                        bottom: 0;
                        left: 11.125rem;
                    }

                    &.el-figure {
                        top: 8.25rem;
                        left: 8.5rem;
                    }

                    &.el-tube {
                        top: auto;
                        bottom: 4rem;
                        left: 0rem;
                    }
                }
            }
        }

        &__submit {
            cursor: pointer;
        }
    }
}

@media only screen and (min-width: 1680px) {
    .choose {
        margin-top: 0rem;

        &__description {
            font-size: 0.875rem;
        }

        &__list {
            width: 100%;
            max-width: 748px;
            min-height: 462px;
            max-height: 462px;

            &:not(.slick-initialized) {
                max-width: 748px;
                min-height: 462px;
                max-height: 462px;
            }
        }

        &__slider {
            margin-bottom: 2rem;
        }

        &__item {
            max-width: 220px;
            max-height: 220px;

            border-radius: 110px;
            padding: 0.875rem 0.875rem;
            border-width: 2px;

            &.hero-2 {
                margin-left: 2.625rem;
                margin-right: 2.625rem;
            }

            &.hero-3 {
                .choose__image {
                    max-height: 180px;
                }
            }

            &.hero-4 {
                margin-right: 1.313rem;

                .choose__image {
                    max-height: 160px;
                }
            }

            &.hero-5 {
                margin-left: 1.313rem;

                .choose__image {
                    max-height: 170px;
                }
            }
        }

        &__frame {
            width: 186px;
            height: 186px;

            max-width: 186px;
            max-height: 186px;

            border-radius: 93px;
        }

        &__image {
            max-height: 180px;
        }

        &__name {
            font-size: 1.25rem;
            margin-bottom: 1.875rem;
        }

        &__elements {
            max-width: 1200px;
            height: 470px;
            top: 16rem;

            &-block.el-right {
                max-width: 330px;
                max-height: 470px;

                .choose__elements-frame {
                    &.el-ball {
                        bottom: 0;
                        right: auto;
                        left: 0;
                        width: 59px;
                        height: 70px;
                    }

                    &.el-ball-2 {
                        top: 11.25rem;
                        right: 10rem;
                        width: 55px;
                        height: 67px;
                    }

                    &.el-figure {
                        width: 56px;
                        height: 72px;
                        bottom: 1.875rem;
                        right: 0rem;
                    }

                    &.el-tube {
                        width: 56px;
                        height: 58px;
                        top: 0rem;
                        right: 3.25rem;
                    }
                }
            }

            &-block.el-left {
                max-width: 310px;
                max-height: 470px;

                .choose__elements-frame {
                    &.el-ball {
                        left: 2.5rem;

                        width: 59px;
                        height: 70px;
                    }

                    &.el-ball-2 {
                        width: 55px;
                        height: 67px;
                        left: auto;
                        right: 0;
                    }

                    &.el-figure {
                        width: 56px;
                        height: 72px;
                        top: 11.625rem;
                        left: auto;
                        right: 3.75rem;
                    }

                    &.el-tube {
                        width: 56px;
                        height: 58px;
                        bottom: 5.25rem;
                        left: 0rem;
                    }
                }
            }
        }

        &__submit {
            padding: 0;
            width: 160px;
            height: 44px;
            min-height: 44px;
            border-radius: 22px;

            font-size: 0.875rem;
            line-height: 1;

            &::after {
                width: 172px;
                height: 58px;
                border-radius: 29px;
            }
        }
    }
}
