.choose {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    &__wrapper {
        width: 100%;

        @include flex-setting(column, flex-start, center);
    }

    &__slider {
        width: 100%;
        height: 100%;
        max-height: 248px;

        @include flex-setting(column, flex-start, center);

        position: relative;

        margin-bottom: 1rem;
    }

    &__prev,
    &__next {
        width: 21px;
        height: 43px;

        position: absolute;

        background-color: transparent;
        border: none;

        cursor: pointer;
        outline: none;

        top: 50%;
        transform: translateY(-50%);

        filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.95));
    }

    &__prev {
        background-image: url('../images/common/arr-prev.png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        left: 0;
    }

    &__next {
        background-image: url('../images/common/arr-next.png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        right: 0;
    }

    .slick-disabled {
        opacity: 0.5;
        filter: none;
    }

    &__list {
        width: 100%;
        height: 100%;

        max-width: 248px;
        max-height: 248px;

        border: 2px solid #fefefe;
        box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.2), 0 0 10px 3px rgba(255, 255, 255, 0.2) inset;
        border-radius: 124px;

        padding: 1rem 1rem;

        .slick-dots {
          @include flex-setting(row, center, center);
          margin: 0;
          padding: 0;
          list-style: none;

          left: 50%;
          transform: translateX(-50%);

          bottom: -3.875rem;

          position: absolute;

          li button {
            background-color: transparent;
            border: 1px solid #f7f4f5;
            border-radius: 100%;

            font-size: 0;

            width: 13px;
            height: 13px;

            padding: 0;

            margin: 0 0.25rem;
            position: relative;

            cursor: pointer;
            outline: none;

            box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.25);
          }

          .slick-active {
            position: relative;

            &::after {
              position: absolute;
              content: '';
              width: 13px;
              height: 13px;
              background-color: #f7f4f5;
              border-radius: 100%;

              box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.25);

              left: 4px;
              top: 10px;

              transition: 0.1s ease-in;
            }
          }
        }
    }

    &__item {
        width: 212px;
        height: 212px;

        max-width: 212px;
        max-height: 212px;

        border-radius: 106px;

        overflow: hidden;

        display: flex !important;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        background: linear-gradient(135deg, #db1e47 50%, #b71437 50%);

        position: relative;

        &.hero-1 {
            .choose__image {
                position: absolute;
                bottom: -2rem;
            }
        }

        &.hero-3 {
            .choose__image {
                position: absolute;
                bottom: -4rem;
                max-height: 250px;
            }
        }

        &.hero-4 {
            .choose__image {
                position: absolute;
                max-height: 180px;
            }
        }

        &.hero-5 {
            .choose__image {
                position: absolute;
                max-height: 180px;
            }
        }
    }

    &__image {
        max-height: 200px;
        object-fit: contain;
    }

    &__name {
        @include font-setting($primary-font, 1rem, normal, 800, $text-white);
        font-style: italic;
        margin-bottom: 2.875rem;
    }

    &__submit {
        @include flex-setting(column, center, center);
        @include font-setting($secondary-font, 0.75rem, 1, 700, $text-black);

        text-transform: uppercase;
        text-decoration: none;

        background-color: #cac8c8;
        border: none;
        border-radius: 25px;

        width: 146px;
        height: 40px;

        box-shadow: 0px -5px 5px 5px rgba(154, 151, 151, 0.7) inset;

        position: relative;

        transition: 0.2s linear;

        &:hover,
        &:active,
        &:focus {
            box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2) inset, 0px -2px 5px 2px rgba(154, 151, 151, 0.7) inset;
            transition: 0.2s linear;
        }

        &::after {
            position: absolute;
            content: '';

            width: 158px;
            height: 52px;

            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            background-color: transparent;
            border: 1px solid #cac8c8;
            border-radius: 26px;

            box-shadow: 0 0 5px 0px rgba(153, 228, 35, 0.57), 0 0 5px 0px rgba(153, 228, 35, 0.57) inset;
        }
    }

    &__elements {
        padding: 10rem 1.5rem 12rem 1.5rem;

        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &-block.el-right {
            display: none;
        }

        &-block.el-left {
            position: relative;
            width: 100%;
            height: 100%;
        }

        &-frame {
            position: absolute;

            &.el-ball {
                width: 35px;
                height: 42px;

                top: 0.625rem;
                left: 0.625rem;
                transform: rotate(-44deg);

                .choose__elements-image {
                    @include glowBox(glow-red, 219, 30, 71, 0.8, 3s, 0s);
                }
            }

            &.el-ball-2 {
                width: 34px;
                height: 37px;

                top: 14.75rem;
                right: 0.625rem;

                .choose__elements-image {
                    @include glowBox(glow-y, 231, 201, 1, 0.8, 2.5s, 0.5s);
                }
            }

            &.el-figure {
                width: 34px;
                height: 43px;

                top: 14.875rem;
                left: 0.75rem;

                transform: rotate(-22deg);

                .choose__elements-image {
                    @include glowBox(glow-w, 255, 255, 255, 0.7, 2.8s, 1s);
                }
            }

            &.el-tube {
                width: 30px;
                height: 40px;

                top: 0.875rem;
                right: 0.625rem;

                .choose__elements-image {
                    @include glowBox(glow-o, 224, 84, 2, 0.7, 2s, 1s);
                }
            }
        }

        .choose__elements-image {
            width: inherit;
            height: inherit;

            object-fit: contain;
        }
    }
}
