@keyframes blink1 {
  0%,
  22%,
  36%,
  75% {
    filter: drop-shadow(0 0 0 #fff200) drop-shadow(0 0 4px #fff200) drop-shadow(0 0 2px #fff200);
  }
  28%,
  33%,
  55% {
    filter: none;
  }
  82%,
  97% {
    filter: none;
  }
}

@keyframes shine {
  0% {
    fill: #6b1839;
    filter: none;
  }
  100% {
    fill: #ffe6ff;
    filter: drop-shadow(0 0 0.6rem #ffe6ff) drop-shadow(0 0 1.5rem #ff65bd) drop-shadow(0.2rem 0.1rem 1rem #ff65bd) drop-shadow(0.2rem 0.1rem 1rem #ff65bd) drop-shadow(0 -0.5rem 2rem #ff2483) drop-shadow(0 0.5rem 3rem #ff2483);
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
    transform: translate(0,0);
  }

  0% {
    opacity: 0;
    transform: translate(0,20px);
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

@keyframes animate {
    0% {
        transform: rotate(0deg) scale(1.5);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

@keyframes animate-reverse {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes colorChange {
    0% {
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
        transform: rotate(360deg);
    }
}


@keyframes clouds-moving {
    0% {
        transform: translateX(-0.25rem) translateY(-0.125rem) skewY(2deg);
    }

    25% {
        transform: translateX(0.125rem) translateY(0.125rem) skewY(-2deg) skewX(-3deg);
    }

    50% {
        transform: translateX(0.25rem) translateY(0.225rem) skewY(2deg);
    }

    75% {
        transform: translateX(-0.25rem) translateY(-0.125rem) skewX(3deg) skewY(2deg);
    }

    100% {
        transform: translateX(-0.25rem) translateY(-0.125rem) skewY(2deg);
    }
}
@keyframes jelly-moving {
    0% {
        transform: translateX(-0.125rem) translateY(-0.125rem) skewY(2deg) rotate(-22deg);
    }

    25% {
        transform: translateX(0.125rem) translateY(0.125rem) skewY(-2deg) skewX(-3deg) rotate(-12deg);
    }

    50% {
        transform: translateX(0.125rem) translateY(0.25rem) skewY(2deg) rotate(0deg);
    }

    75% {
        transform: translateX(-0.125rem) translateY(-0.125rem) skewX(3deg) skewY(2deg) rotate(12deg);
    }

    100% {
        transform: translateX(-0.125rem) translateY(-0.125rem) skewY(2deg) rotate(-22deg);
    }
}
@keyframes plane-moving {
    0% {
        transform: translateX(-0.125rem) translateY(-0.125rem) skewY(2deg) rotate(-22deg) scale(-1, 1);
    }

    25% {
        transform: translateX(0.125rem) translateY(0.125rem) skewY(-2deg) skewX(-3deg) rotate(-12deg) scale(-1, 1);
    }

    50% {
        transform: translateX(0.125rem) translateY(0.25rem) skewY(2deg) rotate(0deg) scale(-1, 1);
    }

    75% {
        transform: translateX(-0.125rem) translateY(-0.125rem) skewX(3deg) skewY(2deg) rotate(12deg) scale(-1, 1);
    }

    100% {
        transform: translateX(-0.125rem) translateY(-0.125rem) skewY(2deg) rotate(-22deg) scale(-1, 1);
    }
}
@keyframes box-rotate {
    0% {
        transform: rotate(-22deg) scale(1);
    }

    25% {
        transform: rotate(0deg) scale(1.25);
    }

    50% {
        transform: rotate(22deg) scale(1.125);
    }

    75% {
        transform: rotate(0deg) scale(1.25);
    }

    100% {
        transform: rotate(-22deg) scale(1);
    }
}
@keyframes ball-color-blink {
    0% {
        fill: #e70d2a;
    }

    25% {
        fill: #fff200;
    }

    50% {
        fill: #e70d2a;
    }

    75% {
        fill: #fff200;
    }

    100% {
        fill: #e70d2a;
    }
}
@keyframes ball-color-blink-invert {
    0% {
        fill: #fff200;
    }

    25% {
        fill: #e70d2a;
    }

    50% {
        fill: #fff200;
    }

    75% {
        fill: #e70d2a;
    }

    100% {
        fill: #fff200;
    }
}
@keyframes baloon {
    0% {
        transform: translateY(0rem) skewY(5deg) translateX(-50%);
    }

    50% {
        transform: translateY(-0.5rem) skewY(-3deg) translateX(-50%);
    }

    75% {
        transform: translateY(0.5rem) skewX(-3deg) translateX(-50%);
    }

    100% {
        transform: translateY(0rem) skewY(6deg) translateX(-50%);
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes disable {
    0% {
        display: flex;
    }

    100% {
        display: none;
        opacity: 0;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes enable {
    0% {
        display: none;
    }

    100% {
        display: flex;
    }
}
@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes glow-yellow {
    0% {
        filter: drop-shadow(0 0 2px rgba(241, 202, 18, 0.7));
    }

    50% {
        filter: drop-shadow(0 0 4px rgba(241, 202, 18, 0.8)) drop-shadow(0 0 5px rgba(241, 202, 18, 0.5));
    }

    100% {
        filter: drop-shadow(0 0 2px rgba(241, 202, 18, 0.7));
    }
}
@keyframes glow-white {
    0% {
        filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.7));
    }

    50% {
        filter: drop-shadow(0 0 4px rgba(255, 255, 255, 1)) drop-shadow(0 0 8px rgba(255, 255, 255, 0.5));
    }

    100% {
        filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.7));
    }
}
@keyframes glow-purple {
    0% {
        filter: drop-shadow(0 0 2px rgba(225, 84, 187, 0.7));
    }

    50% {
        filter: drop-shadow(0 0 4px rgba(225, 84, 187, 1)) drop-shadow(0 0 8px rgba(225, 84, 187, 0.5));
    }

    100% {
        filter: drop-shadow(0 0 2px rgba(225, 84, 187, 0.7));
    }
}
@keyframes glow-red-ball {
    0% {
        filter: drop-shadow(0 0 2px rgba(219, 30, 71, 0.7));
    }

    50% {
        filter: drop-shadow(0 0 4px rgba(219, 30, 71, 1)) drop-shadow(0 0 8px rgba(219, 30, 71, 0.5));
    }

    100% {
        filter: drop-shadow(0 0 2px rgba(219, 30, 71, 0.7));
    }
}
@keyframes glow-orange-ball {
    0% {
        filter: drop-shadow(0 0 2px rgba(224, 84, 2, 0.7));
    }

    50% {
        filter: drop-shadow(0 0 4px rgba(224, 84, 2, 1)) drop-shadow(0 0 8px rgba(224, 84, 2, 0.5));
    }

    100% {
        filter: drop-shadow(0 0 2px rgba(224, 84, 2, 0.7));
    }
}
@keyframes eye-rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(160deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
@keyframes glow-white-pine {
    0% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1.1);
    }
}
@keyframes tv-screen-blink {
    0% {
        filter: saturate(0.4) brightness(0.4);
    }

    30% {
        filter: saturate(0.6) brightness(0.6);
    }

    50% {
        filter: brightness(0.5) drop-shadow(0 0 2px rgba(255, 255, 255, 0.5)) drop-shadow(0 0 4px #fff);
    }

    70% {
        filter: saturate(0.8) brightness(0.8);
    }

    100% {
        filter: saturate(1) brightness(1) drop-shadow(0 0 2px rgba(255, 255, 255, 0.5)) drop-shadow(0 0 4px #fff);
    }
}
