@mixin font-setting($family, $size, $line-height, $font-width, $color) {
  font-family: $family;
  font-size: $size;
  line-height: $line-height;
  font-weight: $font-width;
  color: $color;
}

@mixin glowBox($name, $red, $green, $blue, $opacity, $timing, $delay) {
    animation: #{$name} #{$timing} linear infinite backwards;
    animation-delay: #{$delay};

    @keyframes #{$name} {
        0% {
          filter: drop-shadow(0 0 1px rgba($red, $green, $blue, ($opacity - 0.5))) drop-shadow(0 0 2px rgba($red, $green, $blue, $opacity));
        }

        50% {
          filter: drop-shadow(0 0 0 rgb($red, $green, $blue)) drop-shadow(0 0 0 rgb($red, $green, $blue)) drop-shadow(0 0 4px rgba($red, $green, $blue, ($opacity - 0.12))) drop-shadow(0 0 6px rgba($red, $green, $blue, ($opacity + 0.2)));
        }

        100% {
          filter: drop-shadow(0 0 0 rgb($red, $green, $blue)) drop-shadow(0 0 2px rgba($red, $green, $blue, calc($opacity - 0.15)));
        }
    }
}

@mixin my-font-setting($size, $line-height, $font-width, $color: $color-black, $family: $font-alt) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $font-width;
  color: $color;
  font-family: $family;
}

@mixin pseudo($pos: absolute, $content: '') {
  @include flex-setting(column, center, center);

  content: $content;
  position: $pos;
}

@mixin flex-setting($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin ul-nostyle {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin checkbox-default {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  position: relative;

  padding-left: 1.375rem;
}

@mixin custom-checkbox {
  position: absolute;
  content: "";
  display: block;

  width: 16px;
  height: 16px;
  border-radius: 0;
  border: 1px solid rgba(254, 254, 254, 0.5);

  top: -3px;
  left: 0;

  background-color: transparent;
}

@mixin checkbox-checked {
  position: absolute;
  content: "";
  display: block;

  width: 16px;
  height: 16px;

  border-color: rgba(254, 254, 254, 1);

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Cpath d='M0 0h60v60H0z' fill='%237ebb1f'/%3E%3C/svg%3E");
  background-size: 10px 10px;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  top: -3px;
  left: 0;
}

@mixin height($height, $width, $index, $height-with-units) {
    $index: calc($height / $width);
    $height-with-units: calc($height * 1px);
    height: Min(calc(100vw * $index), var($height-with-units));
}
