@mixin font-setting($family, $size, $line-height, $font-width, $color) {
  font-family: $family;
  font-size: $size;
  line-height: $line-height;
  font-weight: $font-width;
  color: $color;
}

@mixin my-font-setting($size, $line-height, $font-width, $color: $color-black, $family: $font-alt) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $font-width;
  color: $color;
  font-family: $family;
}

@mixin pseudo($pos: absolute, $content: '') {
  @include flex-setting(column, center, center);

  content: $content;
  position: $pos;
}

@mixin flex-setting($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin ul-nostyle {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin checkbox-default {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  position: relative;

  padding-left: 1.25rem;

  @media only screen and (min-width: 360px) {
    padding-left: 1.625rem;
  }
}

@mixin custom-checkbox {
  position: absolute;
  content: "";
  display: block;

  width: 14px;
  height: 14px;
  border-radius: 0;
  border: 1px solid #191911;

  top: -3px;
  left: 0;

  background-color: transparent;

  @media only screen and (min-width: 360px) {
    width: 16px;
    height: 16px;

    top: -3px;
  }
}

@mixin checkbox-checked {
  position: absolute;
  content: "";
  display: block;

  width: 17px;
  height: 18px;

  top: -6px;
  left: 1px;

  background-image: url('../images/content/tick.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  @media only screen and (min-width: 360px) {
    width: 21px;
    height: 22px;
    top: -7px;
    left: 1px;
  }
}
