.form {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    position: relative;

    &::after {
        position: absolute;
        content: '';

        width: 143px;
        height: 74px;

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 182.19 92.42'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-2,.cls-3,.cls-4%7Bfill:none;stroke-linejoin:round;stroke-width:2px;%7D.cls-1%7Bstroke:%23ea4eb2;%7D.cls-2%7Bstroke:%23fff;%7D.cls-3,.cls-4%7Bstroke:%23efc40f;%7D.cls-4%7Bstroke-linecap:round;%7D%3C/style%3E%3C/defs%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Cpath class='cls-1' d='M120.78,86.76A19.18,19.18,0,0,0,91.31,79.1a19.18,19.18,0,0,0-29.43,7.57'/%3E%3Cpath class='cls-2' d='M88.37,34.22v12A6.76,6.76,0,0,1,81.63,53h-7.7a6.76,6.76,0,0,1-6.74-6.75V32.46'/%3E%3Cpath class='cls-2' d='M115.48,32.46V46.21A6.77,6.77,0,0,1,108.73,53H101a6.76,6.76,0,0,1-6.74-6.75v-12'/%3E%3Cpath class='cls-3' d='M173,9.8A81.63,81.63,0,0,1,9.71,9.8S46.25,34.48,91.33,34.48,173,9.8,173,9.8Z'/%3E%3Cline class='cls-4' x1='1' y1='18.03' x2='17.46' y2='1.57'/%3E%3Cline class='cls-4' x1='181.19' y1='17.46' x2='164.72' y2='1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-position: 50% 50%;
        background-size: contain;
        background-repeat: no-repeat;

        bottom: -6.25rem;
        left: 50%;
        transform: translateX(-50%);

        filter: drop-shadow(0 0 5px rgba(239, 196, 15, 0.95));
    }

    &__list {
        width: 100%;
        @include flex-setting(column, flex-start, center);

        margin-bottom: 1.625rem;
    }

    &__item {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);

        padding-left: 3.75rem;
        padding-right: 3.125rem;

        position: relative;

        &.name {
            margin-bottom: 1rem;

            &::after {
                position: absolute;
                content: '';

                width: 15px;
                height: 17px;

                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 416 480'%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Слой_1-2' data-name='Слой 1'%3E%3Cg id='Layer_3' data-name='Layer 3'%3E%3Cpath d='M208,224A112,112,0,1,0,96,112,112,112,0,0,0,208,224Zm0-192a80,80,0,1,1-80,80A80,80,0,0,1,208,32Z' fill='%23fefefe'/%3E%3Cpath d='M287.52,256h-159A128.64,128.64,0,0,0,0,384.48V464a16,16,0,0,0,16,16H400a16,16,0,0,0,16-16V384.48A128.64,128.64,0,0,0,287.52,256ZM384,448H32V384.48A96.59,96.59,0,0,1,128.48,288h159A96.59,96.59,0,0,1,384,384.48Z' fill='%23fefefe'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;

                top: 66%;
                transform: translateY(-50%);
                left: 1.625rem;

                opacity: 0.5;
            }
        }

        &.tel {
            margin-bottom: 1.125rem;

            &::after {
                position: absolute;
                content: '';

                width: 16px;
                height: 16px;

                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480'%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Слой_1-2' data-name='Слой 1'%3E%3Cg id='Layer_3' data-name='Layer 3'%3E%3Cpath d='M464.56,345.5c-.85-.7-96.67-69.28-122.67-64.78-12.5,2.21-19.65,10.72-34,27.79-2.3,2.75-7.86,9.33-12.14,14a199.76,199.76,0,0,1-26.42-10.75A219.27,219.27,0,0,1,168.22,210.64a199.76,199.76,0,0,1-10.75-26.42c4.71-4.3,11.3-9.85,14.11-12.22,17-14.24,25.49-21.39,27.7-33.9,4.53-25.91-64.08-121.81-64.78-122.68A36.64,36.64,0,0,0,107.2,0C79.39,0,0,103,0,120.34c0,1,1.46,103.47,127.81,232C256.19,478.54,358.66,480,359.66,480,377,480,480,400.61,480,372.8A36.62,36.62,0,0,0,464.56,345.5ZM357.9,447.9c-14-1.15-100-12.49-207.47-118.11C44.27,221.71,33.22,135.49,32.11,122.13a432.67,432.67,0,0,1,75.3-89c.64.64,1.49,1.6,2.57,2.85a566.07,566.07,0,0,1,57.19,97,190.34,190.34,0,0,1-16.26,14.57,160.86,160.86,0,0,0-24.19,22.76l-3.89,5.44,1.15,6.57a183.3,183.3,0,0,0,15.44,42.26,251.38,251.38,0,0,0,116,116A182.27,182.27,0,0,0,297.65,356l6.57,1.15,5.44-3.89A161.65,161.65,0,0,0,332.51,329c5-6,11.71-14,14.24-16.22A562.17,562.17,0,0,1,444,370c1.33,1.12,2.26,2,2.88,2.54a432.19,432.19,0,0,1-89,75.31Z' fill='%23fefefe'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;

                top: 66%;
                transform: translateY(-50%);
                left: 1.625rem;

                opacity: 0.5;
            }
        }

        &:hover,
        &:active,
        &:hover {
            &::after {
                opacity: 1;
                transition: 0.2s linear;
            }

            .form__label {
                color: rgba(254, 254, 254, 1);
                transition: 0.2s linear;
            }

            .form__input {
                border-color: rgba(254, 254, 254, 1);
                transition: 0.2s linear;
            }
        }

        &.checkbox {
            flex-direction: row;
            margin-bottom: 1.375rem;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__label {
        @include font-setting($primary-font, 0.75rem, normal, 400, rgba(254, 254, 254, 0.5));
        margin-bottom: 0.25rem;
    }

    &__input {
        width: 100%;
        padding: 0.625rem 0.625rem;

        border: 1px solid rgba(254, 254, 254, 0.5);

        @include font-setting($primary-font, 0.813rem, 1, 500, $text-white);

        text-shadow: 0px 0px 8px rgba(255,255,255,0.65);
        box-shadow: 0 0 15px 14px rgba(254, 254, 254, 0.1) inset;

        background-color: transparent;

        cursor: pointer;
    }

    &__checkbox {
        display: none;
    }

    &__sublabel {
        @include font-setting($primary-font, 0.625rem, normal, 400, rgba(254, 254, 254, 0.5));

        &-link {
            text-decoration: none;
            color: inherit;
            transition: 0.2s linear;

            &:hover,
            &:active,
            &:focus {
                text-decoration: underline;
                transition: 0.2s linear;
            }
        }
    }

    &__checkbox + label {
        @include checkbox-default;
    }

    &__checkbox + label::before {
        @include custom-checkbox;
    }

    &__checkbox:checked + label::after {
        @include checkbox-checked;
    }

    &__checkbox:checked + label {
        color: rgba(254, 254, 254, 1);
    }

    &__sign {
        @include flex-setting(column, center, center);
        position: absolute;

        width: 16px;
        height: 16px;

        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        top: 66%;
        right: 1rem;
        transform: translateY(-50%);

        display: none;

        &.active {
            display: inline-flex;
        }

        &.error {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 455.111 455.111'%3E%3Ccircle cx='227.556' cy='227.556' r='227.556' fill='%23e24c4b'/%3E%3Cpath d='M455.111 227.556c0 125.156-102.4 227.556-227.556 227.556-72.533 0-136.533-32.711-177.778-85.333 38.4 31.289 88.178 49.778 142.222 49.778 125.156 0 227.556-102.4 227.556-227.556 0-54.044-18.489-103.822-49.778-142.222 52.623 41.243 85.334 105.243 85.334 177.777z' fill='%23d1403f'/%3E%3Cpath d='M331.378 331.378c-8.533 8.533-22.756 8.533-31.289 0l-72.533-72.533-72.533 72.533c-8.533 8.533-22.756 8.533-31.289 0-8.533-8.533-8.533-22.756 0-31.289l72.533-72.533-72.533-72.533c-8.533-8.533-8.533-22.756 0-31.289 8.533-8.533 22.756-8.533 31.289 0l72.533 72.533 72.533-72.533c8.533-8.533 22.756-8.533 31.289 0 8.533 8.533 8.533 22.756 0 31.289l-72.533 72.533 72.533 72.533c8.533 8.533 8.533 22.755 0 31.289z' fill='%23fff'/%3E%3C/svg%3E");
        }

        &.correct {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M383.841 171.838c-7.881-8.31-21.02-8.676-29.343-.775L221.987 296.732l-63.204-64.893c-8.005-8.213-21.13-8.393-29.35-.387-8.213 7.998-8.386 21.137-.388 29.35l77.492 79.561a20.687 20.687 0 0014.869 6.275 20.744 20.744 0 0014.288-5.694l147.373-139.762c8.316-7.888 8.668-21.027.774-29.344z' fill='%23fefefe'/%3E%3Cpath d='M256 0C114.84 0 0 114.84 0 256s114.84 256 256 256 256-114.84 256-256S397.16 0 256 0zm0 470.487c-118.265 0-214.487-96.214-214.487-214.487 0-118.265 96.221-214.487 214.487-214.487 118.272 0 214.487 96.221 214.487 214.487 0 118.272-96.215 214.487-214.487 214.487z' fill='%23fefefe'/%3E%3C/svg%3E");
        }
    }

    &__submit {
        @include flex-setting(column, center, center);
        @include font-setting($secondary-font, 0.75rem, 1, 700, $text-black);

        text-transform: uppercase;
        text-decoration: none;

        background-color: #7ebb1f;
        border-radius: 25px;
        border: none;

        width: 130px;
        height: 36px;

        box-shadow: 0px -5px 5px 5px rgba(87, 161, 13, 0.7) inset;

        position: relative;

        transition: 0.2s linear;

        &:hover,
        &:active,
        &:focus {
            box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2) inset, 0px -2px 5px 2px rgba(87, 161, 13, 0.7) inset;
            transition: 0.2s linear;
        }

        &::after {
            position: absolute;
            content: '';

            width: 142px;
            height: 48px;

            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            background-color: transparent;
            border: 1px solid #7ebb1f;
            border-radius: 26px;

            box-shadow: 0 0 5px 0px rgba(153, 228, 35, 0.57), 0 0 5px 0px rgba(153, 228, 35, 0.57) inset;
        }
    }
}
