.prize {
    width: 100%;
    max-width: 306px;

    &.visible {
        @include flex-setting(column, flex-start, center);
        opacity: 1;
        width: 100%;
        height: 100%;

        pointer-events: all;
        transition: height 0.25s linear 0.25s, width 0.25s linear 0.5s, opacity 0.25s linear 0.5s;
    }

    &.invisible {
        @include flex-setting(column, flex-start, center);
        pointer-events: none;
        transition: height 0.25s linear 0.25s, width 0.25s linear 0.25s, opacity 0.25s linear;
        opacity: 0;
        height: 0;
        width: 0;
    }

    &__wrapper {
        position: relative;

        width: 100%;
        max-width: 306px;
        padding-top: 5rem;

        @include flex-setting(column, flex-start, center);
    }

    &__info {
        width: 100%;
        @include flex-setting(column, flex-start, center);

        &-block {
            width: 100%;
            @include flex-setting(column, flex-start, center);

            &:first-child {
                margin-bottom: 1rem;
            }
        }
    }

    &__title {
        @include font-setting($primary-font, 1.25rem, normal, 500, $text-white);
        text-align: center;
        text-transform: uppercase;

        text-shadow: 0px 0px 8px rgba(255,255,255,0.65);

        position: relative;

        margin-bottom: 1.25rem;

        &.first {
            &::after {
                position: absolute;
                content: '';

                width: 100%;
                height: 6px;

                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 484 18'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23eed601;stroke-linecap:round;stroke-linejoin:round;stroke-width:4px;%7D%3C/style%3E%3C/defs%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Cpath class='cls-1' d='M2,2C17,2,17,16,32,16S47,2,62,2,77,16,92,16,107,2,122,2s15,14,30,14S167,2,182,2s15,14,30,14S227,2,242,2s15,14,30,14S287,2,302,2s15,14,30,14S347,2,362,2s15,14,30,14S407,2,422,2s15,14,30,14S467,2,482,2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;

                bottom: -0.5rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &.second {
            font-size: 1rem;

            &::after {
                position: absolute;
                content: '';

                width: 100%;
                height: 6px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 964 18'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23eed601;stroke-linecap:round;stroke-linejoin:round;stroke-width:4px;%7D%3C/style%3E%3C/defs%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Cpath class='cls-1' d='M2,2C20.46,2,20.46,16,38.92,16S57.38,2,75.84,2,94.3,16,112.77,16,131.22,2,149.68,2s18.47,14,36.93,14S205.07,2,223.53,2,242,16,260.44,16,278.9,2,297.36,2s18.46,14,36.92,14S352.74,2,371.2,2s18.46,14,36.93,14S426.59,2,445.05,2,463.51,16,482,16,500.43,2,518.89,2s18.46,14,36.92,14S574.28,2,592.74,2s18.46,14,36.92,14S648.13,2,666.59,2s18.46,14,36.92,14S722,2,740.43,2s18.47,14,36.93,14S795.82,2,814.28,2s18.47,14,36.93,14S869.67,2,888.14,2s18.46,14,36.93,14S943.53,2,962,2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;

                bottom: -0.5rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    &__description {
        @include font-setting($primary-font, 0.75rem, normal, 500, $text-white);
        text-align: center;

        max-width: 80%;

        text-shadow: 0px 0px 8px rgba(255,255,255,0.65);
    }

    &__else {
        @include font-setting($primary-font, 0.75rem, normal, 500, #fff200);
        text-align: center;
        text-shadow: 0px 0px 8px rgba(255,242,0,0.65);

        margin-bottom: 1rem;
    }

    &__elements {
        position: fixed;

        top: 0;
        left: auto;
        right: auto;
        bottom: 0;

        width: 100%;
        height: 100%;

        max-width: 360px;

        padding-top: 11rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        z-index: -1;
    }

    &__icons {
        position: relative;
        width: 100%;
        height: 100%;

        z-index: 1;

        &-frame {
            position: absolute;

            will-change: transform;

            &.plane-1 {
                width: 66px;
                height: 71px;

                top: 0;
                left: 0;

                filter: drop-shadow(0 0 0 #ff6700) drop-shadow(0 0 2px #ff6700);
                animation: glow-orange-ball 4s linear infinite both, plane-moving 6s linear infinite both;

                transform: scale(-1, 1);
            }

            &.plane-2 {
                width: 66px;
                height: 71px;

                top: 19rem;
                right: 0;

                filter: drop-shadow(0 0 0 #ff6700) drop-shadow(0 0 2px #ff6700);
                animation: glow-orange-ball 3s linear infinite both, jelly-moving 8s linear infinite both;
            }

            &.gift-1 {
                width: 54px;
                height: 48px;

                top: 2rem;
                right: 0.35rem;

                transform: rotate(22deg);
                filter: drop-shadow(0 0 0 #dc03ac) drop-shadow(0 0 0 #dc03ac) drop-shadow(0 0 2px rgba(220, 3, 72, 0.7)) drop-shadow(0 0 3px #dc03ac);
                animation: jelly-moving 4s linear infinite both;
            }

            &.gift-2 {
                width: 54px;
                height: 48px;

                top: 19rem;
                left: 1.625rem;

                transform: rotate(-22deg);

                filter: drop-shadow(0 0 0 #dc03ac) drop-shadow(0 0 0 #dc03ac) drop-shadow(0 0 2px rgba(220, 3, 72, 0.7)) drop-shadow(0 0 3px #dc03ac);
                animation: jelly-moving 6s linear infinite both;
            }

            &.eye-1 {
                width: 24px;
                height: 23px;

                top: 0rem;
                right: 7rem;

                animation: eye-rotate 2s linear infinite forwards, glow-white 4s linear infinite forwards;

                transform: rotate(150deg);
            }

            &.eye-2 {
                width: 27px;
                height: 27px;

                top: 22rem;
                left: 10rem;
                transform: rotate(-25deg);

                animation: eye-rotate 4s linear infinite forwards, glow-white 2s linear infinite forwards;
            }

            &.eye-3,
            &.eye-4,
            &.eye-5 {
                display: none;

            }
        }

        &-images {
            width: inherit;
            height: inherit;
            object-fit: contain;
        }
    }

    &__tree {
        display: none;
    }

    &__stars {
        width: 100%;
        height: 100%;

        max-width: 360px;

        position: fixed;
        top: 0;
        left: auto;
        right: auto;
        bottom: 0;

        z-index: -1;

        padding: 11rem 1.5rem 0 1.5rem;

        &-wrapper {
            position: relative;
            width: 100%;
            height: 100%;

            z-index: -1;
        }

        .s-1,
        .s-3,
        .s-5,
        .s-7 {
            fill: #fff;
            width: 12px;
            height: 12px;
        }
        .s-2
        .s-4,
        .s-6,
        .s-8 {
            fill: #fff;
            width: 8px;
            height: 8px;
        }

        .s-9,
        .s-10,
        .s-11,
        .s-12 {
            display: none;
        }

        .s-1 {
            top: 0;
            right: 0;
            left: auto;
        }

        .s-2 {
            top: 2rem;
            left: 8rem;
            right: auto;
        }

        .s-3 {
            top: 10rem;
            left: 0.25rem;
            right: auto;
        }

        .s-4 {
            top: 13rem;
            right: 0.125rem;
            left: auto;
        }

        .s-5 {
            top: 19.5rem;
            right: 7rem;
            left: auto;
        }

        .s-6 {
            top: 17rem;
            left: 1.25rem;
        }

        .s-7 {
            top: 23rem;
            left: 1rem;
            right: auto;
        }

        .s-8 {
            top: 23.5rem;
            right: 0;
            left: auto;
        }
    }

    &__bubbles {
        display: none;
    }
}

@media only screen and (max-height: 590px) {
    .prize {
        &__elements {
            padding-top: 8rem;
        }

        &__stars {
            padding: 8rem 1.5rem 0 1.5rem;
        }
    }
}

@media only screen and (min-width: 414px) {
    .prize {
        &__elements {
            padding-top: 10rem;
        }

        &__stars {
            padding: 10rem 1.5rem 0 1.5rem;
        }
    }
}

@media only screen and (min-width: 768px) {
    .prize {
        max-width: 758px;

        &__wrapper {
            width: 100%;
            max-width: 100%;
            padding-top: 2rem;

            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &__info {
            max-width: 300px;

            &-block {
                width: 100%;
                @include flex-setting(column, flex-start, center);

                &:first-child {
                    margin-bottom: 2rem;
                }
            }
        }

        &__title {
            margin-bottom: 1.75rem;
        }

        &__description {
            font-size: 0.813rem;
        }

        &__else {
            font-size: 0.813rem;
            margin-bottom: 1.5rem;
        }

        &__elements {
            position: relative;

            top: auto;
            left: auto;
            right: auto;
            bottom: auto;

            width: 100%;
            max-width: 450px;
            height: 100%;
            max-height: 470px;

            padding: 0;
            z-index: -1;

            @include flex-setting(column, flex-start, center);
        }

        &__icons {
            z-index: -1;
            position: absolute;
            width: 450px;
            height: 470px;

            top: 0;
            left: 50%;
            transform: translateX(-50%);

            &-frame {
                position: absolute;

                &.plane-1 {
                    width: 91px;
                    height: 98px;

                    top: 3rem;
                    left: 2rem;
                }

                &.plane-2 {
                    width: 66px;
                    height: 71px;

                    top: auto;
                    bottom: 9rem;
                    right: 0.25rem;
                }

                &.gift-1 {
                    width: 53px;
                    height: 46px;

                    top: 6.5rem;
                    right: 3.625rem;

                    transform: rotate(22deg);
                }

                &.gift-2 {
                    width: 63px;
                    height: 53px;

                    top: auto;
                    bottom: 11.375rem;
                    left: 1rem;

                    transform: rotate(-22deg);
                }

                &.eye-1 {
                    width: 26px;
                    height: 27px;

                    top: 3.375rem;
                    right: 7.25rem;

                    transform: rotate(150deg);
                }

                &.eye-2 {
                    width: 23px;
                    height: 22px;

                    top: 9.5rem;
                    left: 1.625rem;
                    transform: rotate(-25deg);
                }

                &.eye-3 {
                    display: block;
                    width: 19px;
                    height: 19px;

                    top: 12.25rem;
                    right: 4.75rem;

                    transform: rotate(165deg);
                    animation: eye-rotate 10s linear infinite forwards, glow-white 4s linear infinite forwards;
                }

                &.eye-4 {
                    display: block;
                    width: 32px;
                    height: 32px;

                    bottom: 3.75rem;
                    left: 2rem;

                    transform: rotate(-12deg);
                    animation: eye-rotate 12s linear infinite forwards, glow-white 4s linear infinite forwards;
                }

                &.eye-5 {
                    display: block;
                    width: 30px;
                    height: 30px;

                    bottom: 2.813rem;
                    right: 5.125rem;

                    transform: rotate(165deg);

                    animation: eye-rotate 20s linear infinite forwards, glow-white 4s linear infinite forwards;
                }
            }
        }

        &__tree {
            @include flex-setting(column, flex-start, center);
            height: 100%;
            max-height: 468px;
            width: 100%;
            max-width: 330px;

            &-frame {
                position: relative;
                height: 100%;
                max-height: 468px;
                width: 100%;
                max-width: 330px;

                .prize__tree-dash-1 {
                    position: absolute;
                    width: 173px;
                    height: 80px;

                    top: 2.55rem;
                    left: 4rem;
                    z-index: -2;

                    filter: drop-shadow(0 0 0 #ff6c00) drop-shadow(0 0 0 #ff6c00) drop-shadow(0 0 5px rgba(255, 108, 0, 0.5)) drop-shadow(0 0 8px rgba(255, 108, 0, 0.7));
                }

                .prize__tree-dash-2 {
                    position: absolute;
                    width: 173px;
                    height: auto;
                    object-fit: contain;

                    top: 9rem;
                    left: 3rem;

                    filter: drop-shadow(0 0 0 #ffc700) drop-shadow(0 0 0 #ff6c00) drop-shadow(0 0 5px rgba(255, 108, 0, 0.5)) drop-shadow(0 0 8px rgba(255, 108, 0, 0.7));
                }

                .prize__tree-dash-3 {
                    position: absolute;
                    width: 173px;
                    height: 80px;

                    transform: rotate(180deg) scale(1, -1);

                    bottom: 8.55rem;
                    right: 1rem;
                    z-index: -2;

                    filter: drop-shadow(0 0 0 #ff6c00) drop-shadow(0 0 0 #ff6c00) drop-shadow(0 0 5px rgba(255, 108, 0, 0.5)) drop-shadow(0 0 8px rgba(255, 108, 0, 0.7));
                }
            }

            &-toe {
                fill: #fff;
            }

            &-body {
                filter: saturate(2) drop-shadow(0 0 0 #90f807) drop-shadow(0 0 12px rgba(144, 248, 7, 0.5));

                &.body-1 {
                    fill: #70ad11;
                }

                &.body-2 {
                    fill: #7abd11;
                }

                &.body-3 {
                    fill: #7dcc15;
                }
            }

            &-light {
                position: absolute;
                width: 330px;
                height: 468px;

                top: 0;
                left: 50%;
                transform: translateX(-50%);

                .prize__light-line {
                    fill: none;
                    stroke: #fff;
                    stroke-linecap: round;
                    stroke-miterlimit: 10;
                }

                .prize__light-ball {
                    &.lb-yellow {
                        animation: ball-color-blink 3s infinite both;
                    }

                    &.lb-red {
                        animation: ball-color-blink-invert 3s infinite both;
                    }
                }
            }
        }

        &__light-top {
            position: absolute;

            top: 4.5rem;
            left: 50%;
            transform: translateX(-50%);

            width: 89px;
            height: 35px;
            filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.4));

            .prize__light-image {
                width: inherit;
                height: inherit;
                object-fit: contain;
            }
        }

        &__light-middle {
            position: absolute;

            width: 179px;
            height: 52px;
            top: 11.5rem;
            left: 50%;
            transform: translateX(-50%);

            filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.4));

            .prize__light-image {
                width: inherit;
                height: inherit;
                object-fit: contain;
            }
        }

        &__light-bottom {
            position: absolute;
            width: 268px;
            height: 70px;
            top: 18.0625rem;
            left: 50%;
            transform: translateX(-50%);
            filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.4));
        }

        &__bubbles {
            display: block;
            z-index: -1;
            position: absolute;
            width: 450px;
            height: 470px;

            top: 0;
            left: 50%;
            transform: translateX(-50%);

            .bubbles__ball {
                position: absolute;
                filter: drop-shadow(0 0 0 #7fb537) drop-shadow(0 0 4px #7fb537);

                &.b1 {
                    width: 8px;
                    height: 8px;

                    top: 0;
                    right: 11rem;
                }

                &.b2 {
                    width: 14px;
                    height: 14px;

                    top: 2rem;
                    right: 11rem;
                }

                &.b3 {
                    width: 4px;
                    height: 4px;

                    top: 2.5rem;
                    right: 9rem;
                }

                &.b4 {
                    width: 8px;
                    height: 8px;

                    top: 3rem;
                    left: 3rem;
                }

                &.b5 {
                    width: 4px;
                    height: 4px;

                    top: 4.5rem;
                    left: 8.125rem;
                }

                &.b6 {
                    width: 16px;
                    height: 16px;

                    top: 5.5rem;
                    left: 8.125rem;
                }

                &.b7 {
                    width: 4px;
                    height: 4px;

                    top: 10.25rem;
                    left: 4rem;
                }

                &.b8 {
                    width: 6px;
                    height: 6px;

                    top: 10rem;
                    left: 9rem;
                }

                &.b9 {
                    width: 4px;
                    height: 4px;

                    top: 9.75rem;
                    right: 9rem;
                }

                &.b10 {
                    width: 14px;
                    height: 14px;

                    top: 9.5rem;
                    right: 7.5rem;
                }

                &.b11 {
                    width: 16px;
                    height: 16px;

                    top: 12.5rem;
                    left: 5.5rem;
                }

                &.b12 {
                    width: 6px;
                    height: 6px;

                    top: 14.5rem;
                    right: 4rem;
                }

                &.b13 {
                    width: 10px;
                    height: 10px;

                    bottom: 9.25rem;
                    left: 1rem;
                }

                &.b14 {
                    width: 18px;
                    height: 18px;

                    bottom: 8.5rem;
                    right: -1rem;
                }

                &.b15 {
                    width: 8px;
                    height: 8px;

                    bottom: 5.5rem;
                    left: 5.5rem;
                }

                &.b16 {
                    width: 8px;
                    height: 8px;

                    bottom: 6.875rem;
                    right: 2.75rem;
                }

                &.b17 {
                    width: 10px;
                    height: 10px;

                    bottom: 2rem;
                    left: 9rem;
                }

                &.b18 {
                    width: 8px;
                    height: 8px;

                    bottom: 4rem;
                    right: 4rem;
                }

                &.b19 {
                    width: 12px;
                    height: 12px;

                    bottom: 1rem;
                    right: 9rem;
                }
            }
        }

        &__stars {
            display: none;
        }
    }

}

@media only screen and (min-width: 1366px) {
    .prize {
        max-width: 816px;

        &__wrapper {
            margin-top: -3rem;
            padding-top: 0;
        }

        &__info {
            max-width: 320px;
        }
    }
}

@media only screen and (min-width: 1680px) {
    .prize {
        max-width: 1220px;

        &__wrapper {
            margin-top: 0;
            padding-top: 0;
        }

        &__info {
            max-width: 392px;
            margin-left: 6.25rem;

            &-block {
                &:first-child {
                    margin-bottom: 2.375rem;
                }
            }
        }

        &__title {
            font-size: 1.625rem;

            &::after {
                height: 7px;
            }

            &.second {
                font-size: 1.375rem;

                &::after {
                    height: 7px;
                }
            }
        }

        &__description {
            font-size: 1rem;
            max-width: 86%;
        }

        &__else {
            font-size: 1rem;
            margin-bottom: 2.25rem;
        }

        &__elements {
            max-width: 610px;
            max-height: 640px;
        }

        &__icons {
            width: 610px;
            height: 640px;

            &-frame {
                &.plane-1 {
                    width: 124px;
                    height: 133px;

                    top: 4rem;
                    left: 3.625rem;
                }

                &.plane-2 {
                    width: 95px;
                    height: 98px;
                    bottom: 12.5rem;
                    right: 0.125rem;
                }

                &.gift-1 {
                    width: 72px;
                    height: 63px;

                    top: 9rem;
                    right: 4.625rem;
                }

                &.gift-2 {
                    width: 86px;
                    height: 72px;

                    bottom: 15.625rem;
                    left: 1.5rem;
                }

                &.eye-1 {
                    width: 35px;
                    height: 35px;

                    top: 4.625rem;
                    right: 9.688rem;

                }

                &.eye-2 {
                    width: 31px;
                    height: 31px;

                    top: 13rem;
                    left: 2rem;
                }

                &.eye-3 {
                    width: 26px;
                    height: 26px;

                    top: 16.75rem;
                    right: 4.75rem;
                }

                &.eye-4 {
                    width: 43px;
                    height: 43px;

                    bottom: 5rem;
                    left: 3.625rem;

                }

                &.eye-5 {
                    width: 40px;
                    height: 40px;

                    bottom: 3.75rem;
                    right: 5.625rem;
                }
            }
        }

        &__tree {
            max-height: 640px;
            max-width: 454px;

            &-frame {
                max-height: 640px;
                max-width: 454px;

                .prize__tree-dash-1 {
                    width: 213px;
                    height: 92px;

                    top: 3.55rem;
                    left: 7rem;
                }

                .prize__tree-dash-2 {
                    width: 248px;
                    height: 125px;

                    top: 12rem;
                }

                .prize__tree-dash-3 {
                    width: 213px;
                    height: 92px;

                    bottom: 13.55rem;
                    right: 0rem;
                }
            }

            &-light {
                width: 454px;
                height: 640px;
            }
        }

        &__light-top {
            top: 6.5rem;
            width: 123px;
            height: 49px;
        }

        &__light-middle {
            width: 244px;
            height: 72px;
            top: 15.5rem;
        }

        &__light-bottom {
            width: 369px;
            height: 96px;
            top: 25.0625rem;
        }

        &__bubbles {
            width: 610px;
            height: 640px;

            .bubbles__ball {
                position: absolute;
                filter: drop-shadow(0 0 0 #7fb537) drop-shadow(0 0 4px #7fb537);

                &.b1 {
                    animation: clouds-moving 8s linear infinite both;
                    right: 13.75rem;
                }

                &.b2 {
                    animation: clouds-moving 10s linear infinite both reverse;

                    top: 2.625rem;
                    right: 14.25rem;
                }

                &.b3 {
                    animation: clouds-moving 18s linear infinite both;

                    top: 3.325rem;
                    right: 11.875rem;
                }

                &.b4 {
                    animation: clouds-moving 6s linear 1s infinite both reverse;

                    top: 3.75rem;
                    left: 5.625rem;
                }

                &.b5 {
                    animation: clouds-moving 8s linear infinite both;

                    top: 6.75rem;
                    left: 12.125rem;
                }

                &.b6 {
                    animation: clouds-moving 12s linear 1s infinite both reverse;

                    top: 8.375rem;
                    left: 12.375rem;
                }

                &.b7 {
                    animation: clouds-moving 10s linear infinite both;

                    top: 14.75rem;
                    left: 5rem;
                }

                &.b8 {
                    animation: clouds-moving 14s linear infinite both reverse;

                    top: 14.375rem;
                    left: 10.875rem;
                }

                &.b9 {
                    animation: clouds-moving 6s linear infinite both reverse;

                    top: 13.5rem;
                    right: 11.125rem;
                }

                &.b10 {
                    animation: clouds-moving 8s ease-in infinite both;

                    top: 13.125rem;
                    right: 8.75rem;
                }

                &.b11 {
                    animation: clouds-moving 11s linear infinite both reverse;

                    top: 17.5rem;
                    left: 7.5rem;
                }

                &.b12 {
                    animation: clouds-moving 8s linear infinite both;

                    top: 19.5rem;
                    right: 3.75rem;
                }

                &.b13 {
                    animation: clouds-moving 6s linear infinite both reverse;

                    bottom: 13.375rem;
                    left: 2rem;
                }

                &.b14 {
                    animation: clouds-moving 12s linear infinite both;

                    bottom: 12.875rem;
                    right: -2rem;
                }

                &.b15 {
                    animation: clouds-moving 8s linear infinite both reverse;

                    bottom: 6.5rem;
                    left: 7.875rem;
                }

                &.b16 {
                    animation: clouds-moving 10s linear infinite both;

                    bottom: 7.625rem;
                    right: 2.375rem;
                }

                &.b17 {
                    animation: clouds-moving 8s linear infinite both reverse;

                    bottom: 2.25rem;
                    left: 14.375rem;
                }

                &.b18 {
                    animation: jelly-moving 8s linear infinite both;

                    bottom: 5.625rem;
                    right: 3.125rem;
                }

                &.b19 {
                    animation: jelly-moving 8s linear infinite both;

                    bottom: 1.5rem;
                    right: 9.75rem;
                }
            }
        }
    }
}
