.prize {
    width: 100%;
    max-width: 306px;

    &.visible {
        @include flex-setting(column, flex-start, center);
        opacity: 1;
        width: 100%;
        height: 100%;

        pointer-events: all;
        transition: height 0.25s linear 0.25s, width 0.25s linear 0.5s, opacity 0.25s linear 0.5s;
    }

    &.invisible {
        pointer-events: none;
        transition: height 0.25s linear 0.25s, width 0.25s linear 0.25s, opacity 0.25s linear;
        opacity: 0;
        height: 0;
        width: 0;
    }

    &__wrapper {
        position: relative;

        width: 100%;
        max-width: 306px;
        padding-top: 5rem;

        @include flex-setting(column, flex-start, center);
    }

    &__info {
        width: 100%;
        @include flex-setting(column, flex-start, center);

        &-block {
            width: 100%;
            @include flex-setting(column, flex-start, center);

            &:first-child {
                margin-bottom: 1rem;
            }
        }
    }

    &__title {
        @include font-setting($primary-font, 1.25rem, normal, 500, $text-white);
        text-align: center;
        text-transform: uppercase;

        text-shadow: 0px 0px 8px rgba(255,255,255,0.65);

        position: relative;

        margin-bottom: 1.25rem;

        &.first {
            &::after {
                position: absolute;
                content: '';

                width: 100%;
                height: 6px;

                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 484 18'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23eed601;stroke-linecap:round;stroke-linejoin:round;stroke-width:4px;%7D%3C/style%3E%3C/defs%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Cpath class='cls-1' d='M2,2C17,2,17,16,32,16S47,2,62,2,77,16,92,16,107,2,122,2s15,14,30,14S167,2,182,2s15,14,30,14S227,2,242,2s15,14,30,14S287,2,302,2s15,14,30,14S347,2,362,2s15,14,30,14S407,2,422,2s15,14,30,14S467,2,482,2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;

                bottom: -0.5rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &.second {
            font-size: 1rem;

            &::after {
                position: absolute;
                content: '';

                width: 100%;
                height: 6px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 964 18'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23eed601;stroke-linecap:round;stroke-linejoin:round;stroke-width:4px;%7D%3C/style%3E%3C/defs%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Cpath class='cls-1' d='M2,2C20.46,2,20.46,16,38.92,16S57.38,2,75.84,2,94.3,16,112.77,16,131.22,2,149.68,2s18.47,14,36.93,14S205.07,2,223.53,2,242,16,260.44,16,278.9,2,297.36,2s18.46,14,36.92,14S352.74,2,371.2,2s18.46,14,36.93,14S426.59,2,445.05,2,463.51,16,482,16,500.43,2,518.89,2s18.46,14,36.92,14S574.28,2,592.74,2s18.46,14,36.92,14S648.13,2,666.59,2s18.46,14,36.92,14S722,2,740.43,2s18.47,14,36.93,14S795.82,2,814.28,2s18.47,14,36.93,14S869.67,2,888.14,2s18.46,14,36.93,14S943.53,2,962,2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;

                bottom: -0.5rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    &__description {
        @include font-setting($primary-font, 0.75rem, normal, 500, $text-white);
        text-align: center;

        max-width: 80%;

        text-shadow: 0px 0px 8px rgba(255,255,255,0.65);
    }

    &__else {
        @include font-setting($primary-font, 0.75rem, normal, 500, #fff200);
        text-align: center;
        text-shadow: 0px 0px 8px rgba(255,242,0,0.65);

        margin-bottom: 1rem;
    }

    &__elements {
        position: fixed;

        top: 0;
        left: auto;
        right: auto;
        bottom: 0;

        width: 100%;
        height: 100%;

        max-width: 360px;

        padding-top: 11rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        z-index: -1;
    }

    &__icons {
        position: relative;
        width: 100%;
        height: 100%;

        z-index: 1;

        &-frame {
            position: absolute;

            &.plane-1 {
                width: 66px;
                height: 71px;
                transform: scale(-1, 1);

                top: 0;
                left: 0;

                @include glowBox(glow1, 240, 222, 97, 0.6, 3s, 0.2s);
            }

            &.plane-2 {
                width: 66px;
                height: 71px;

                top: 19rem;
                right: 0;

                @include glowBox(glow1, 240, 222, 97, 0.6, 5s, 0.1s);
            }

            &.gift-1 {
                width: 54px;
                height: 48px;

                top: 2rem;
                right: 0.35rem;

                transform: rotate(22deg);

                .prize__icons-image {
                    @include glowBox(glow2, 247, 3, 210, 0.5, 3s, 0.2s);
                }
            }

            &.gift-2 {
                width: 54px;
                height: 48px;

                top: 19rem;
                left: 1.625rem;

                transform: rotate(-22deg);

                @include glowBox(glow2, 247, 3, 210, 0.5, 4s, 0.1s);
            }

            &.eye-1 {
                width: 24px;
                height: 23px;

                top: 0rem;
                right: 7rem;

                animation: eye-rotate 2s linear infinite forwards, glow-white 4s linear infinite forwards;

                transform: rotate(150deg);
            }

            &.eye-2 {
                width: 27px;
                height: 27px;

                top: 22rem;
                left: 10rem;
                transform: rotate(-25deg);

                animation: eye-rotate 4s linear infinite forwards, glow-white 2s linear infinite forwards;
            }

            &.eye-3,
            &.eye-4,
            &.eye-5 {
                display: none;
            }
        }

        &-images {
            width: inherit;
            height: inherit;
            object-fit: contain;
        }
    }

    &__tree {
        display: none;
    }

    &__stars {
        width: 100%;
        height: 100%;

        max-width: 360px;

        position: fixed;
        top: 0;
        left: auto;
        right: auto;
        bottom: 0;

        z-index: -1;

        padding: 11rem 1.5rem 0 1.5rem;

        &-wrapper {
            position: relative;
            width: 100%;
            height: 100%;

            z-index: -1;
        }

        .s-1,
        .s-3,
        .s-5,
        .s-7 {
            fill: #fff;
            width: 12px;
            height: 12px;
        }
        .s-2
        .s-4,
        .s-6,
        .s-8 {
            fill: #fff;
            width: 8px;
            height: 8px;
        }

        .s-9,
        .s-10,
        .s-11,
        .s-12 {
            display: none;
        }

        .s-1 {
            top: 0;
            right: 0;
            left: auto;
        }

        .s-2 {
            top: 2rem;
            left: 8rem;
            right: auto;
        }

        .s-3 {
            top: 10rem;
            left: 0.25rem;
            right: auto;
        }

        .s-4 {
            top: 13rem;
            right: 0.125rem;
            left: auto;
        }

        .s-5 {
            top: 19.5rem;
            right: 7rem;
            left: auto;
        }

        .s-6 {
            top: 17rem;
            left: 1.25rem;
        }

        .s-7 {
            top: 23rem;
            left: 1rem;
            right: auto;
        }

        .s-8 {
            top: 23.5rem;
            right: 0;
            left: auto;
        }
    }
}

@media only screen and (max-height: 590px) {
    .prize {
        &__elements {
            padding-top: 8rem;
        }

        &__stars {
            padding: 8rem 1.5rem 0 1.5rem;
        }
    }
}

@media only screen and (min-width: 414px) {
    .prize {
        &__elements {
            padding-top: 10rem;
        }

        &__stars {
            padding: 10rem 1.5rem 0 1.5rem;
        }
    }
}
