footer.footer.invisible
    nav.footer__nav
        ul.footer__list
            li.footer__list-item
                a(href="#" target="_self").footer__list-link.manual Как участвовать
            li.footer__list-item
                a(href="#" target="_self").footer__list-link.rules Правила
            li.footer__list-item
                a(href="https://drive.google.com/drive/folders/1FHGyqo-iw7ru9DMrt0L57thyspU7Sckx" target="_self").footer__list-link.policy Политика
        ul.footer__social
            li.footer__social-item
                a(href="#" target="_blank").footer__social-link
                    i.fab.fa-youtube
            li.footer__social-item
                a(href="#" target="_blank").footer__social-link
                    i.fab.fa-instagram
            li.footer__social-item
                a(href="#" target="_blank").footer__social-link
                    i.fab.fa-vk
            li.footer__social-item
                a(href="https://www.facebook.com/NickelodeonRussia/" target="_blank").footer__social-link
                    i.fab.fa-facebook-f
