footer.footer
    nav.footer__nav
        ul.footer__list
            li.footer__list-item
                a(href="#" target="_self").footer__list-link Как участвовать
            li.footer__list-item
                a(href="#" target="_self").footer__list-link Призы
            li.footer__list-item
                a(href="#" target="_self").footer__list-link Правила
        ul.footer__social
            li.footer__social-item
                a(href="#" target="_blank").footer__social-link
                    i.fab.fa-youtube
            li.footer__social-item
                a(href="#" target="_blank").footer__social-link
                    i.fab.fa-instagram
            li.footer__social-item
                a(href="#" target="_blank").footer__social-link
                    i.fab.fa-vk
